    <div class="navbar_fixed">
        <div class="navbar_cloud">
            <img src="images/navBar/cloud_2.png" alt="雲朵">
        </div>
    
        <div class="navbar_container">
            <input type="checkbox" name="navbar_buttom-check" id="navbar_buttom-check">
            <label class="navbar_burger" for="navbar_buttom-check"><span></span></label>
            <a href="index.html"><img id="logo" src="images/navBar/logo.svg" alt="logo"></a>
            <nav class="navbar_container_list">
                <ul>
                    <li><a class="gameplay_nav" href="gameplay.html">遊玩設施</a></li>
                    <li><a class="team_nav" href="team.html">做伙揪團</a></li>
                    <li><a class="ticket_nav" href="ticket.html">線上購票</a></li>
                    <li><a class="items_nav" href="items.html">周邊商品</a></li>
                    <li><a class="activity_nav" href="activity.html">活動專區</a></li>
                    <li><a class="information_nav" href="information.html">園區資訊</a></li>
                </ul>
                <img class="phone_cloud" src="images/navBar/phonecloud.png" alt="雲朵">
            </nav>

            <div class="navbar_icons navbar_icons-table">
                <!-- ---------------購物車彈跳品項start--------------- -->
                <div id="navbar_shoppingCart_popup_wrap" class="navbar_shoppingCart_popup_wrap">
                    <a href="shoppingCart.html"><img class="navbar_shoppingCart_popup navbar_memicon" src="images/navBar/shopcar.png" alt="購物車"></a>
                    <div class="shoppingCart_popup">
                        <div class="popup_item_title">
                            <div class="col-4 pt-10 pb-10">圖片</div>
                            <div class="col-8 pt-10 pb-10">名稱</div>
                        </div>
                        <div class="cart_popup_item">
                            <div class="col-4 pt-10 pb-10">
                                <p>
                                    <img src="images/products/product_list/pd_b-13.png" alt="商品圖">
                                </p></div>
                            <div class="col-8 pt-10 pb-10">
                                <p>紅色仙人掌包包</p></div>
                        </div>
                    </div>
                </div>
                <!-- -----------------購物車彈跳品項end----------------- -->
                <a href="#"><img class="navbar_memicon" id="navbar_loginicon" src="images/navBar/member.png" alt="會員"></a>
            </div>
        </div>
    </div>
    <div class="nav_space"></div>
      <!-- 1.貼了會員登入 -->
       
        <!-- -----------------會員登入------------------------ -->
    <section id="lightBox">
        <div id="loginTable">
            <!-- 背景 -->
            <!-- <img class="login_bg" src="pic/navBar/phonecloud.png" alt="登入的背景"> -->
            <!-- 會員登入文字區域 -->
            <div class="login_box">
                <!-- 刪除按鈕 -->
                <a href="#" class="login_cancel">
                 <img src="images/member/login_camcel.png" alt="刪除鈕小icon">
                </a>
                <!-- 文字區     -->
                <h3>會員登入</h3>
                <!-- 帳號: -->
                <input type="text" name="mem_id" id="mem_id" placeholder="帳號">
                <br>
                <!-- 密碼 -->
                <input type="password" name="mem_psw" id="mem_psw" placeholder="密碼">
                <br>
                <!-- 忘記密碼 -->
                <a href="#" class="login_forget" id="login_forget">忘記密碼</a>
                <br>
                <!-- 登入按鈕 -->
                <a href="memberLocation.html" class="btn" id="login_button">登入</a>
                <!-- 立即註冊 -->
                <div class="smalltext">
                    <span>還不是會員?</span>
                    <a href="#" id="register">立即註冊</a>
                    <br>
                </div>
                <!-- 快速註冊 -->
                <div class="fasttext">
                    <a href="#" id="register_fast">快速註冊</a>
                    <br>
                </div>
            </div>

        </div>

    </section>


    <!-- ///////////////會員//////////////// -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        //按了會員登入icon
        $('#navbar_loginicon').click(function(){
            $('#lightBox').css('display','block');
        });
        //按了取消按鈕
        $('.login_cancel img').click(function(){
            $('#lightBox').css('display','none');
        });
    });    
    </script>
<!-- //////////////////////////////////////////////////////////////// -->
    <script>
    var nnn = /^[a-zA-Z0-9_-]{4,16}$/; //使用正規表達式

    let memId = document.getElementById('mem_id');
    let memPsw = document.getElementById('mem_psw');
    let login = document.getElementById('login_button');

    function checkId(){ //檢查帳號 
        if (memId.value.search(nnn)){
            console.log('不可');
        }else{
            console.log('可');
        }
    }
    function checkPsw(){ //檢查密碼
        if (memPsw.value.search(nnn)){
            console.log('不可');
        }else{
            console.log('可');
        }
    }
    function loginmem(){
        let memIdValue = memId.value;
        let memPswValue = memPsw.value;
   
    //使用Ajax去server端去做登入的工作
    var xhr = new XMLHttpRequest();
    xhr.onload = function () {
        if (xhr.status == 200) {
            if (xhr.responseText.indexOf("sysError") != -1) {
                alert("系統異常,請通知系統維護人員");
            } else if (xhr.responseText.indexOf("loginError") != -1) {
                alert("帳密錯誤");
            }else{
                alert(xhr.responseText);
                // localStorage['admin_name'] = xhr.responseText;
                window.location.href = "../memberLocation.html";
            }
        }else{
                alert(xhr.status);
        }
    }
    xhr.open("post", "php/getLogin.php", true);
    xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
    var data_info = `member_id=${memIdValue}&member_psw=${memPswValue}`;
    xhr.send(data_info);
    }    
    login.addEventListener('click', loginmem, false);
    memPsw.addEventListener('change', checkPsw, false);
    memId.addEventListener('change', checkId, false);
    </script>