<div class="navbar_fixed">
    <div class="navbar_cloud">
        <img src="images/navBar/cloud_2.png" alt="雲朵">
    </div>

    <div class="navbar_container">
        <input type="checkbox" name="navbar_buttom-check" id="navbar_buttom-check">
        <label class="navbar_burger" for="navbar_buttom-check"><span></span></label>
        <a href="home.html"><img id="logo" src="images/navBar/logo.svg" alt="logo"></a>
        <nav class="navbar_container_list">
            <ul>
                <li><a class="ticket_nav" href="ticket.html">線上購票</a></li>
                <li><a class="team_nav" href="team.html">做伙揪團</a></li>
                <li><a class="gameplay_nav" href="gameplay.html">遊玩設施</a></li>
                <li><a class="items_nav" href="items.html">周邊商品</a></li>
                <li><a class="activity_nav" href="activity.html">活動專區</a></li>
                <li><a class="information_nav" href="information.html">園區資訊</a></li>
            </ul>
            <img class="phone_cloud" src="images/navBar/phonecloud.png" alt="雲朵">
        </nav>

        <div class="navbar_icons navbar_icons-table">
            <!-- ---------------購物車彈跳品項start--------------- -->
            <div id="navbar_shoppingCart_popup_wrap" class="navbar_shoppingCart_popup_wrap">
                <a href="shoppingCart.html"><img id="navbar_shoppingCart_popup"
                        class="navbar_shoppingCart_popup navbar_memicon" src="images/navBar/shopcar_0.png"
                        alt="購物車icon"></a>
                <div id="itemlist" class="shoppingCart_popup" style="display: none">
                </div>
                <div class="shoppingCart_popup_count" style="display:none">
                    <span class="shoppingCart_popup_count_number"></span>
                </div>
            </div>
            <!-- -----------------購物車彈跳品項end----------------- -->
            <a href="#"><img class="navbar_memicon" id="navbar_loginicon" src="images/navBar/member_1.png" alt="會員"></a>
        </div>
    </div>
</div>
<div class="nav_space"></div>
<!-- 1.貼了會員登入 -->

<!-- -----------------會員登入------------------------ -->
<section id="lightBox">
    <div id="loginTable">
        <!-- 背景 -->
        <!-- <img class="login_bg" src="pic/navBar/phonecloud.png" alt="登入的背景"> -->
        <!-- 會員登入文字區域 -->
        <div class="login_box">
            <!-- 刪除按鈕 -->
            <a href="#" class="login_cancel">
                <img src="images/member/login_camcel.png" alt="刪除鈕小icon">
            </a>
            <!-- 文字區     -->
            <h3>會員登入</h3>
            <!-- 帳號: -->
            <input type="text" name="mem_id" id="mem_id" placeholder="帳號">
            <br>
            <!-- 密碼 -->
            <input type="password" name="mem_psw" id="mem_psw" placeholder="密碼">
            <br>
            <!-- 忘記密碼 -->
            <a href="#" class="login_forget" id="login_forget">忘記密碼</a>
            <br>
            <!-- 登入按鈕 -->
            <a href="#" class="btn" id="login_button">登入</a>
            <!-- 立即註冊 -->
            <div class="smalltext">
                <span>還不是會員?</span>
                <a href="#" id="register">立即註冊</a>
                <br>
            </div>
            <!-- 快速註冊 -->
            <div class="fasttext">
                <a href="#" id="register_fast">快速註冊</a>
                <br>
            </div>
        </div>

    </div>

</section>
<!---------------- ---會員註冊------------------------- -->

<section id="register_lightbox">
    <div class="registerTable">
        <!-- 背景 -->
        <!-- <img class="login_bg" src="" alt="註冊的背景"> -->
        <!-- 會員註冊文字區 -->
        <div class="register_box">
            <!-- 刪除按鈕 -->
            <a href="#" class="login_cancel">
                <img src="images/member/login_camcel.png" alt="刪除鈕小icon">
            </a>
            <!-- 文字區 -->
            <h3>會員註冊</h3>
            <!-- 帳號 -->
            <span>帳號</span>
            <input type="text" name="mem_id" id="register_memid" placeholder="請輸入帳號">
            <br>
            <!-- 暱稱 -->
            <span>暱稱</span>
            <input type="text" name="mem_name" id="register_name" placeholder="請輸入暱稱">
            <br>
            <!-- Email -->
            <span>信箱</span>
            <input type="email" name="mem_email" id="register_mememail" placeholder="輸入@xxx.com">
            <br>
            <!-- 密碼 -->
            <span>密碼</span>
            <input type="password" name="mem_psw" id="register_mempsw">
            <br>
            <!-- 確認密碼 -->
            <span>確認密碼</span>
            <input type="password" name="mem_psw" id="con_register_mempsw">
            <br>
            <!-- 提示密碼 -->
            <span>提示問題</span>
            <select name="optionarea" id="password_question">
                　<option value="1">您最喜歡的遊樂設施</option>
                　<option value="2">您最喜歡的水果</option>
            </select>
            <br>
            <!-- 回答問題 -->
            <span>回答問題</span>
            <input type="text" name="password_answer" id="password_answer">
            <br>
            <!-- 註冊按鈕 -->
            <a href="#" class="btn" id="register_button">註冊</a> 　

        </div>
    </div>
</section>
<!-- ------------- ---------重設密碼------------------------ -->
<section id="password_lightbox">
    <div class="passwordTable">
        <!-- 背景 -->
        <!-- <img class="login_bg" src="" alt="密碼的背景"> -->
        <!-- 重設密碼文字區 -->
        <div class="password_box">
            <!-- 刪除按鈕 -->
            <a href="#" class="login_cancel">
                <img src="images/member/login_camcel.png" alt="刪除鈕小icon">
            </a>
            <!-- 文字區 -->
            <h3>重設密碼</h3>
            <!----帳號------>
            <span>帳號</span>
            <input type="text" name="password_memid" id="password_memid">
            <br>
            <!-- 提示密碼 -->
            <span>提示問題</span>
            <select name="optionarea" id="repassword_question" class="repassword_question">
                　<option value="1">您最喜歡的遊樂設施</option>
                　<option value="2">您最喜歡的水果</option>
            </select>
            <br>
            <!-- 回答問題 -->
            <span>回答問題</span>
            <input type="text" name="password_answer" id="repassword_answer">
            <br>
            <!-- 新密碼 -->
            <span>新密碼</span>
            <input type="password" name="new_mempsw" id="new_mempsw" placeholder="請輸入新密碼">
            <br>
            <!-- 確認密碼 -->
            <span>確認密碼</span>
            <input type="password" name="mem_psw" id="re_mempsw" placeholder="再次確認">
            <br>
            <!-- 重新設定密碼按鈕 -->
            <a href="#" class="btn" id="password_button">確認</a> 　
        </div>
    </div>
</section>


<!-- ///////////////會員//////////////// -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>  //使用jquery-Ajax//
    var order = 0;
    var storage = sessionStorage;
    if(storage['member_no'])
    document.getElementById('navbar_loginicon').src = 'images/navBar/member_0.png';
    //----------------------------登入start---------------------------------------//
    $(document).ready(function () {
        //====按會員登入icon====//..假使sessionStorage有member_no，就跳轉去會員中心頁面，否則就跳出登入燈箱
        $('#navbar_loginicon').click(function () {
            if (sessionStorage.member_no) {
                window.location.href = "memberLocation.html";
            } else {
                $('#lightBox').css('display', 'block');
            }
        });
        //====按取消按鈕====//  登入燈箱會消失
        $('.login_cancel img').click(function () {
            $('#lightBox').css('display', 'none');
        });

        //====點擊登入按鈕====//
        $("#login_button").click(function () {
            if (checkVal($("#mem_id").val())) { //檢查帳號 
                alert("帳號不符合規則")
            } else if (checkVal($("#mem_psw").val())) {   //檢查密碼
                alert("密碼不符合規則")
            } else {    // 登入成功
                loginmem2();
            }
        });
        // //============點擊立即註冊=================
        // $("#register_fast").click(function () {
        //     $("#mem_id").val('qqq777'); //帳號
        //     $("#mem_psw").val('111');   //密碼
        // });

    });

    //===========檢查===========
    function checkVal(value) {
        var reg = /^[a-zA-Z0-9_-]{3,16}$/; //使用正規表達式
        if (value.search(reg)) {
            return true
        } else {
            return false
        }
    }

    //====登入Ajax====
    function loginmem2() {
        $.ajax({
            type: 'post',               //post/get 傳送方式
            url: "php/getLogin.php",    //url位置
            data: { member_id: $("#mem_id").val(), member_psw: $("#mem_psw").val() }, //輸入的資料
            success: function (data2) { //成功之後要執行的函數------> data2:從後端撈起的資料
                console.log(data2)
                let userData = JSON.parse(data2);
                console.log(userData)
                $.each(userData[0], function (index, value) {
                    if (index == 'member_id' || index == 'member_psw') {
                        return;
                    } else {
                        sessionStorage.setItem(index, value); // 將資料存在sessionStorage
                    }
                    console.log(value)
                });
                $('#lightBox').css('display', 'none'); //成功之後...>燈箱關掉

                console.log(document.getElementById('navbar_loginicon'));
                document.getElementById('navbar_loginicon').src = 'images/navBar/member_0.png';
                console.log('sessionStorage: ' + sessionStorage.member_id);
                alertify.alert("登入成功", function () {
                    if (order == 0)
                    setTimeout(() => {
                        window.location.reload();  
                    }, 100);
                    else if(storage['addItemList'])
                        window.location = 'check_order.html';
                    else
                        alertify.alert('請先選購商品喔');
                });
            }, error: function (XMLHttpRequest, textStatus) { //錯誤的話要執行的函數
                console.log(XMLHttpRequest);  //XMLHttpRequest.responseText    XMLHttpRequest.status   XMLHttpRequest.readyState
                console.log(textStatus);
            }
        });
    }

</script>
<!-- -----------購物車動態新增start-------- -->
<script>
    var storage = sessionStorage;
    if (storage['addItemList']) {
        First();
    }
    //把storage的商品以畫面呈現
    function changCartIcon() {
        if (document.getElementById("navbar_shoppingCart_popup_wrap").childElementCount == 4)
            document.getElementById("navbar_shoppingCart_popup_wrap").children[3].remove();
        // console.log(document.getElementById('itemlist').childElementCount - 1);
        let shoppingCartPopClone = document.getElementById("navbar_shoppingCart_popup_wrap").children[2].cloneNode(true);
        // console.log(shoppingCartPopClone);
        shoppingCartPopClone.style.display = '';
        shoppingCartPopClone.children[0].innerText = document.getElementById('itemlist').childElementCount - 1;
        // if(document.getElementById("navbar_shoppingCart_popup_wrap").childElementCount>3)
        // document.getElementById("navbar_shoppingCart_popup_wrap").lastElementChild.removeChild();
        document.getElementById("navbar_shoppingCart_popup_wrap").appendChild(shoppingCartPopClone);

        let cartIcon = document.getElementById("navbar_shoppingCart_popup");
        // console.log(cartIcon.src.indexOf('images'));
        // console.log(cartIcon.src.substr(cartIcon.src.indexOf('images')));
        if (cartIcon.src.substr(cartIcon.src.indexOf('images')) == "images/navBar/shopcar_0.png") {
            cartIcon.src = "images/navBar/shopcar_1.png";

            // document.getElementById('shoppingCart_popup_count_number').innerText = items.length;
            // console.log(document.getElementById('itemlist').childElementCount-1);

        }
        // console.log(document.getElementsByClassName('shoppingCart_popup_count').length);
        // document.getElementsByClassName('shoppingCart_popup_count')[1].children[0].innerText = document.getElementById('itemlist').childElementCount-1;
    }
    function First() {
        if (storage['addItemList']) {
            document.getElementById("itemlist").innerHTML =
                `<div class="popup_item_title">
                            <div class="col-4 pt-10 pb-10">圖片</div>
                            <div class="col-8 pt-10 pb-10">名稱</div>
                        </div>`;
            let itemString = storage['addItemList'];
            // console.log(itemString);
            let items = itemString.substr(0, itemString.length - 2).split(', ');
            // console.log(items);   // ["A1001", "A1005", "A1002"] //
            for (let key in items) {  //use items[key]
                let itemInfo = storage.getItem(items[key]);
                // console.log(itemInfo);
                createCartList(itemInfo);
            }
            function createCartList(itemInfo) {
                // console.log(itemInfo);
                // console.log(itemInfo.split('|')[0]);
                // console.log(itemInfo.split('|')[1]);
                newDivfa = document.createElement('div');
                newDivfa.classList.add('cart_popup_item');
                newDivCh1 = document.createElement('div');
                newDivCh1.classList.add('col-4', 'pt-10', 'pb-10');
                newPCh1 = document.createElement('p');
                newImg1 = document.createElement('img');
                newImg1.src = itemInfo.split('|')[1];
                newDivCh2 = document.createElement('div');
                newDivCh2.classList.add('col-8', 'pt-10', 'pb-10');
                newPCh2 = document.createElement('p');
                newPCh2.innerText = itemInfo.split('|')[0];

                // 將table放進section，再將section放進cartList裡
                newPCh1.appendChild(newImg1);
                newDivCh1.appendChild(newPCh1);
                newDivfa.appendChild(newDivCh1);
                newDivCh2.appendChild(newPCh2);
                newDivfa.appendChild(newDivCh2);
                document.getElementById("itemlist").appendChild(newDivfa);
            }
            changCartIcon();
            (function () {
                // console.log(123);
                var tds = document.getElementById("navbar_shoppingCart_popup");
                //tds.length  記錄元素的個素
                tds.addEventListener('mouseover', showCartPop, false);
                tds.addEventListener('mouseout', normal, false);
            })();
        } else {
            var tds = document.getElementById("navbar_shoppingCart_popup");
            //tds.length  記錄元素的個素
            tds.removeEventListener('mouseover', showCartPop, false);
            tds.removeEventListener('mouseout', normal, false);
            document.getElementById("itemlist").innerHTML = "";
            if (document.getElementById("navbar_shoppingCart_popup_wrap").childElementCount == 4)
                document.getElementById("navbar_shoppingCart_popup_wrap").children[3].remove();
            let cartIcon = document.getElementById("navbar_shoppingCart_popup");
            cartIcon.src = "images/navBar/shopcar_0.png";
        }

    }
    function showCartPop() {
        obj = document.getElementById('itemlist');
        obj.style.display = "";
    }
    function normal() {
        obj = document.getElementById('itemlist');
        obj.style.display = "none";
    }

    // window.addEventListener("load",function(){
    //     console.log(123);
    //     var tds = document.getElementById("navbar_shoppingCart_popup");
    //     //tds.length  記錄元素的個素
    //         tds.onmouseover = showCartPop;
    //         tds.onmouseout = normal;
    // },false)	

    // <!-- -----------購物車動態新增end-------- -->
    //---------------------------註冊start--------------------------------//
    //====點擊立即註冊按鈕====//
    $('#register').click(function () {
        //顯示註冊燈箱
        $('#register_lightbox').css('display', 'block');
        //隱藏登入燈箱
        $('#lightBox').css('display', 'none');
        //====按取消按鈕====//  註冊燈箱會消失
        $('.login_cancel img').click(function () {
            $('#register_lightbox').css('display', 'none');
        });
    })

    //====點擊註冊按鈕====//
    $('#register_button').click(function () {
        ///////////////ajax///////////////////////
        var userid = $('#register_memid').val(); //帳號
        var member_name = $('#register_name').val(); //暱稱
        var password = $("#register_mempsw").val();//密碼
        var chk_password = $("#con_register_mempsw").val();//確認密碼
        var memmail = $("#register_mememail").val();//信箱
        var question = $("#password_question").val();//提示問題
        var answer = $("#password_answer").val();//回答問題

        if (checkVal(userid)) { //檢查帳號 
            alert("帳號不符合規則")
        } else if (checkVal(password)) {  //檢查密碼
            alert("密碼不符合規則")
        } else if (password != chk_password) {
            alert("密碼不一致")
        } else {    // 註冊
            $.ajax({
                type: "POST",
                url: "php/addMember.php",
                dataType: "JSON",
                data: {  //輸入的資料
                    "member_id": userid,
                    "member_psw": password,
                    "member_email": memmail,
                    "forget_hint": question,
                    "forget_answer": answer,
                    "member_name": member_name,
                },
                success: function (data) {
                    switch (data) {
                        case 1://用戶已存在
                            alert("該用戶已存在。")
                            break;
                        default://註冊成功
                            alert("註冊成功！");
                            sessionStorage['member_no'] = data;
                            setTimeout(() => {
                            window.location.reload();    
                            }, 100);
                            document.getElementById('navbar_loginicon').src = 'images/navBar/member_0.png';
                            
                            $('#register_lightbox').css('display', 'none');
                            break;
                    }
                }
            })
        }
    })
    //----------------------重設密碼-------------------------------//
    //====點擊忘記密碼按鈕====//
    $('#login_forget').click(function () {
        //顯示密碼燈箱
        $('#password_lightbox').css('display', 'block');

        //隱藏登入燈箱
        $('#lightBox').css('display', 'none');

        //====按取消按鈕====//  密碼燈箱會消失
        $('.login_cancel img').click(function () {
            $('#password_lightbox').css('display', 'none');
        });
    })

    //====點擊重設密碼確認按鈕====//
    //輸入的密碼和新密碼必須相同
    //提示問題必須回答正確---->比對資料庫
    //密碼檢查字數checkVal
    $('#password_button').click(function () {
        var memid = $("#password_memid").val();//帳號
        var password = $("#new_mempsw").val();//密碼
        var re_password = $("#re_mempsw").val();//確認密碼
        var requestion = $("#repassword_question").val();//提示問題
        var reanswer = $("#repassword_answer").val();//回答問題
        console.log(requestion);
        if (checkVal(password)) { //檢查密碼
            alert("密碼不符合規則")
        } else if (checkVal(re_password)) {   //檢查新密碼
            alert("密碼不符合規則")
        } else if (password != re_password) {  //檢查密碼和新密碼的一致性
            alert("密碼不一致")
        } else if (memid == "") {   //檢查帳號
            alert("不可空白")
        } else if (reanswer == "") {   //檢查回答問題
            alert("不可空白")
        } else {    // 可修改密碼
            $.ajax({
                type: "POST",
                url: "php/membersendPassword.php",
                dataType: "JSON",
                data: {  //輸入的資料
                    "member_id": memid,
                    "member_psw": password,
                    "forget_hint": requestion,
                    "forget_answer": reanswer,
                },
                success: function (data) {
                    console.log(data)
                    $('#password_lightbox').css('display', 'none'); //燈箱消失
                    alert("修改成功！");
                },

            })
        }





    })



</script>


@@loop('jslink.html',[
{"jslink" : "js/registrationnow.js"}
])