<section class="section_facility">
    <div class="title_box">
        <h3 class="section_title">設施介紹</h3>
    </div>
    <div class="container">
        <div class="facility_slider">
            <div id="arrowlift">
                <img src="images/arrow/top.png" alt="">
            </div>
            <div id="arrowright">
                <img src="images/arrow/top.png" alt="">
            </div>
            <ul class="slider_container">
                <li>
                    <div class="slider_bg">
                        <div class="slider_title">
                            海盜船
                        </div>
                        <div class="slider_img">
                            <img src="images/information/ferrisWheel.svg">
                            <div class="slider_star"><img src="images/index/coin.png">X50</div>
                        </div>
                        <div class="slider_text">
                            <div class="slider_member">
                                <img class="slider_score" src="images/information/other/3star.svg">
                                <div class="slider_memberimg">
                                    <img src="images/index/message_1.jpg">
                                </div>
                                <p><span>XXX:</span>物品味道調整焦點，其中臺中東方重大，阿宅人民共和國很熱新浪本論壇，下列同意，預期信譽反饋，交友獲得。
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider_bg">
                        <div class="slider_title">
                            海盜船
                        </div>
                        <div class="slider_img">
                            <img src="images/information/pirateShip-slider.svg">
                            <div class="slider_star"><img src="images/index/coin.png">X50</div>
                        </div>
                        <div class="slider_text">
                            <div class="slider_member">
                                <img class="slider_score" src="images/information/other/3star.svg">
                                <div class="slider_memberimg">
                                    <img src="images/index/message_1.jpg">
                                </div>
                                <p><span>XXX:</span>物品味道調整焦點，其中臺中東方重大，阿宅人民共和國很熱新浪本論壇，下列同意，預期信譽反饋，交友獲得。
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider_bg">
                        <div class="slider_title">
                            海盜船
                        </div>
                        <div class="slider_img">
                            <img src="images/information/carousels-slider.svg">
                            <div class="slider_star"><img src="images/index/coin.png">X50</div>
                        </div>
                        <div class="slider_text">
                            <div class="slider_member">
                                <img class="slider_score" src="images/information/other/3star.svg">
                                <div class="slider_memberimg">
                                    <img src="images/index/message_1.jpg">
                                </div>
                                <p><span>XXX:</span>物品味道調整焦點，其中臺中東方重大，阿宅人民共和國很熱新浪本論壇，下列同意，預期信譽反饋，交友獲得。
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider_bg">
                        <div class="slider_title">
                            海盜船
                        </div>
                        <div class="slider_img">
                            <img src="images/information/rollerCoaster-slider.svg">
                            <div class="slider_star"><img src="images/index/coin.png">X50</div>
                        </div>
                        <div class="slider_text">
                            <div class="slider_member">
                                <img class="slider_score" src="images/information/other/3star.svg">
                                <div class="slider_memberimg">
                                    <img src="images/index/message_1.jpg">
                                </div>
                                <p><span>XXX:</span>物品味道調整焦點，其中臺中東方重大，阿宅人民共和國很熱新浪本論壇，下列同意，預期信譽反饋，交友獲得。
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider_bg">
                        <div class="slider_title">
                            海盜船
                        </div>
                        <div class="slider_img">
                            <img src="images/information/swivelChair-slider.svg">
                            <div class="slider_star"><img src="images/index/coin.png">X50</div>
                        </div>
                        <div class="slider_text">
                            <div class="slider_member">
                                <img class="slider_score" src="images/information/other/3star.svg">
                                <div class="slider_memberimg">
                                    <img src="images/index/message_1.jpg">
                                </div>
                                <p><span>XXX:</span>物品味道調整焦點，其中臺中東方重大，阿宅人民共和國很熱新浪本論壇，下列同意，預期信譽反饋，交友獲得。
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider_bg">
                        <div class="slider_title">
                            海盜船
                        </div>
                        <div class="slider_img">
                            <img src="../images/information/waterSlide-slider.svg">
                            <div class="slider_star"><img src="images/index/coin.png">X50</div>
                        </div>
                        <div class="slider_text">
                            <div class="slider_member">
                                <img class="slider_score" src="images/information/other/3star.svg">
                                <div class="slider_memberimg">
                                    <img src="images/index/message_1.jpg">
                                </div>
                                <p><span>XXX:</span>物品味道調整焦點，其中臺中東方重大，阿宅人民共和國很熱新浪本論壇，下列同意，預期信譽反饋，交友獲得。
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <svg>

            
        </svg>

        <div class="facility_rule">
            <div class="facility_ruleol">
                <p class="paragraph_title">獲取賞金方法</p>
                <ol>
                    <li class="paragraph_p">快速加入會員</li>
                    <li class="paragraph_p">客製專屬吉祥物和門票</li>
                    <li class="paragraph_p">掃描QRcode進入樂園</li>
                    <li class="paragraph_p">掃瞄遊玩設施QRcode並完成經典任務->賺取賞金</li>
                    <li class="paragraph_p">隊伍賞金前四名，榮登首頁</li>
                    <li class="paragraph_p">賞金轉換為購物金->購買商品</li>
                </ol>
            </div>
        </div>
    </div>

</section>