<section id="section_robot" class="section_robot">
    <div class="robot_text">
        <div id="dialogBox">
            >> 您好，我的朋友! 有心事嗎 ?<BR />
        </div>
        <div class="robot_enter">
            請輸入問題：
            <input id="say" name="say" type="text" value="" size="70" onkeydown="keyin(event)" />
            <!-- 按 enter 時呼叫 keyin() 回答 -->
            <input class="btn" type="submit" value="送出" onclick="say()" /> <!-- 當送出按鈕按下，就呼叫 say() 函數回答 -->
            <div id="arrow_down"></div>
        </div>
    </div>
    <img class="robot_img" src="images/robot/robot.png" alt="">
</section>
<section class="problem">
    <div class="problem_container">
        <div class="problem_text">
            <p id="puzzle">一加一等於多少？？</p>
        </div>
        <div id="problem_answer1" class="problem_answer">
            <img src="images/problem/question2/1.png">
        </div>
        <div id="problem_answer2" class="problem_answer">
            <img src="images/problem/question2/2.png">
        </div>
        <div id="problem_answer3" class="problem_answer">
            <img src="images/problem/question2/3.png">
        </div>
        <div class="problem_reply">
            <img src="images/problem/ok.png">
        </div>
    </div>
</section>

@@loop('jslink.html',[
{"jslink" : "js/robot.js"}
])

<script type="text/javascript">
</script>