
        <div class="section_title">客製門票</div>
        <div class="ticket_customize" id="ticket_customize">
            <!-- 客製門票左手邊區塊 -->
            <div class="ticket_customize_wrap">

                <!-- 選擇吉祥物長相 -->
                <div class="customize_mascots_boxs">
                    <div class="customize_items_title paragraph_title">第一步 - 選擇吉祥物 :</div>
                    <ul class="customize_mascots_box" id="ticket_mascots">
                        <li class="customize_mascots">
                            <!-- <img class="mascots" src="images/cusitems/role1.svg" alt="吉祥物一"> -->
                        </li>
                        <li class="customize_mascots">
                            <!-- <img class="mascots" src="images/cusitems/role2.svg" alt="吉祥物二"> -->
                        </li>
                        <li class="customize_mascots">
                            <!-- <img class="mascots" src="images/cusitems/role3.svg" alt="吉祥物三"> -->
                        </li>
                        <li class="customize_mascots">
                            <!-- <img class="mascots" src="images/cusitems/role4.svg" alt="吉祥物四"> -->
                        </li>
                        <li class="customize_mascots">
                            <!-- <img class="mascots" src="images/cusitems/role5.svg" alt="吉祥物五"> -->
                        </li>
                        <li class="customize_mascots">
                            <!-- <img class="mascots" src="images/cusitems/role6.svg" alt="吉祥物六"> -->
                        </li>
                    </ul>
                </div>

                <!-- 客製吉祥物大圖 -->
                <div class="customize_mascot_role" id="customize_mascot_role">
                    <div class="customize_mascot" id="savetocanvas">
                        <img id="big" src="" alt="">
                        <div id="customize_opabox">
                        </div>
                    </div>
                </div>
                <div class="customize_items_set_box">
                    <ul class="customize_items_set">
                        <li class="customize_set">
                            <i id="opabox_plus" class="fas fa-search-plus"></i>
                        </li>
                        <li class="customize_set">
                            <i id="opabox_minus" class="fas fa-search-minus"></i>
                        </li>
                        <li class="customize_set">
                            <i id="opabox_right" class="fas fa-redo-alt"></i>
                        </li>
                        <li class="customize_set">
                            <i id="opabox_left" class="fas fa-undo-alt"></i>
                        </li>
                        <li class="customize_set">
                            <i id="opabox_del" class="fas fa-trash-alt"></i>
                        </li>
                    </ul>
                </div>

                <!-- 配件樣式區域 -->
                <div class="customize_items">
                    <div class="customize_items_title paragraph_title">第二步 - 選擇配件 :</div>
                    <ul class="customize_items_box" id="ticket_items">
                        <li class="customize_item">
                            <!-- <img class="items_cus" src="images/cusitems/item1.svg" alt="配件一"> -->
                        </li>
                        <li class="customize_item">
                            <!-- <img class="items_cus" src="images/cusitems/item2.svg" alt="配件二"> -->
                        </li>
                        <li class="customize_item">
                            <!-- <img class="items_cus" src="images/cusitems/item3.svg" alt="配件三"> -->
                        </li>
                        <li class="customize_item">
                            <!-- <img class="items_cus" src="images/cusitems/item4.svg" alt="配件四"> -->
                        </li>
                        <li class="customize_item">
                            <!-- <img class="items_cus" src="images/cusitems/item5.svg" alt="配件五"> -->
                        </li>
                        <li class="customize_item">
                            <!-- <img class="items_cus" src="images/cusitems/item6.svg" alt="配件六"> -->
                        </li>
                    </ul>
                </div>

                <!-- 客製確認鈕 -->
                <!-- <div class="btn--active center" id="customize_confirm">確認</div> -->
            </div>