#coverpage{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.95);
    z-index: 99999999999999999999999;
    opacity: 1;
    transition: 0.3s;
    &.displaynone{
        opacity: 0;
    }
    svg{
        /* border: 1px solid #000; */
        left: 50%;
        right: 50%;
        transform: translateX(-50%) translateY(100px);
        position: relative;
    }
    #bg_all{
        transform: translateX(-25%)  translateY(20px);
    }
    #ground{
        transform: translateX(53%) translateY(900px) scale(3.5);
    }
}