.section_robot{
    width: 300px;
    z-index: 10;
    *{
        width: 100%;
    }
    position: fixed;
    width: 300px;
    right: 100px;
    bottom: 0;
    .robot_text{
        height: 200px;
        #dialogBox{
            width:95%; 
            height: 125px;
            border:ridge 1px #888888;
        }
        input{
            width: 95%;
        }
    }
    .robot_eye{
        position: absolute;
    }
}