/* ///////////////////// */
/* 日曆 */
/* //////////////////// */
// .calendar_wood{
//     padding:0 10px;
//     box-sizing: border-box;
//     background-image: url(../images/member/wood01.png);
//     background-repeat: no-repeat;

//     background-position: center;

// }

///////////////////////////////
//           篩選器          //
///////////////////////////////

.newswrap {
    width: 100%;
    position: relative;
    
    .select_active{  //仙人掌      
        >img{
           
            width: 15%;
            // height:10%;
            position: absolute;
            top: -50px;
            right: 10px;
            bottom: 0;
        }
    }
    //====篩選器====
    .selectpart {
        margin: auto;
        width: 100%;
        display: block;
        
        .select_group {
            width: 100%;
            max-width: 650px;
            margin: auto;
            
            
            .select_frame {
                width: 90%;
                // width: 100%;
                margin: auto;
                padding: 15px 0;
                background-color: #9dba65;
                border-radius: 20px;
                display: flex;
                flex-wrap: row nowrap;
                justify-content: space-around;
                -webkit-box-align: center;
                align-items: center;
                text-align: center;
                
               //篩選條件
                >h3{
                    font-size: 20px;
                    // color: #ddedb7;
                }
                .select_phone {
                    select {
                        border: #5a7528 solid 3px;
                        width: 150px;
                        height: 50px;
                        padding: 3px;
                        border-radius: 10px;
                        font-size: 16px;
                    }
                }
                .noshow {
                    .select_btn {
                        width: 100%;
                        cursor: pointer;
                        background-color: #ddedb7;
                        border: none;
                        padding: 5px 25px;
                        border-radius: 10px;
                        // box-shadow: 0px 3px 0px #5a7528;
                        color: #111;
                        font: 16px;
                        
                    }
                }
            }
        }
    }
}
// @media(max-width:1200px) and(min-width:1000px){
//     .newswrap{
//         .select_active{  //仙人掌      
//             >img{
               
//                 width: 2.5%;
//                 // height:10%;
//                 position: absolute;
//                 top: -150px;
//                 right: 550px;
//                 bottom: 0;
//             }
//         }

    // }
    
// }
@media (max-width: 767px) {
    .noshow {
        display: none;
    }
    .select_btn {
        display: none;
    }
    .select_frame {
        width: 90%;
    }
    // .newswra{
    //     .select_active{       
    //         >img{
    //             width: 20%;
    //             // height:10%;
    //             position: absolute;
    //             top: -35px;
    //             right: 0px;
    //             bottom: 0;
    //             animation: none;
    //         }
    //     }
    // }
    
}
@media (min-width: 768px) {
    .newswrap{
        .select_active{       
            >img{
                width: 2.5%;
                // height:10%;
                position: absolute;
                // top: -40px;
                top: -3.3%;
                // right: 1100px;
                right:55%;
                bottom: 0;
                animation : walk 10s infinite;
            }
        }
    }
    .newswrap{
        .selectpart{
            .select_group{
                .select_frame {
                    width: 100%;
                }
            }
        }
    }
    
   
    .select_phone {
        display: none;
    }
}

///////////////////////////////////
//       活動內容               //
//////////////////////////////////

.activity_content {
    width: 80%;
    background-color: #9dba65;
    border-radius: 40px;
    padding: 5px 0;
    display: block;
    height: auto;
    margin: 50px auto;
    position: relative;
    &::after{
        z-index: 2;
        position: absolute;
        top: -15%;
        left: -3%;
        bottom:0;
        right: 0;
        content:"";
        background:url("../images/member/bullon.png");
        width: 100%;
        background-repeat:no-repeat;
        display: none;
    }
    // animation: Updown 1s infinite alternate;
    @keyframes Updown {
        from {
        margin-top: 30px;
        }
        to {
        margin-top: 10px;
        }
    }
        &:hover{
            background-color: #f09100;
            &::after{
                display: block;   
        }
    }
    .activity_part {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 20px;
        background-color: #fff;
        border-radius: 40px;
        .activity_pic {
            margin: auto;
            padding: 10px 0;
            img {
                width: 100%;
                display: block;
                border-radius: 10%;
            }
        }
        .activity_text {
            padding: 0 20px;
            width: 100%;
            display: inline-block;
            vertical-align: middle;
            h4 {
                font-family: "Noto Sans TC", "sans-serif";
                font-size: 18px;
                font-weight: bold;
            }
            p {
                padding: 0 20px;
                line-height: 30px;
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .activity_content {
        box-sizing: border-box;
        max-width: 900px;
        background-color: #9dba65;
        border-radius: 40px;
        padding: 5px 0;
        margin: 50px auto;

        .activity_part {
            display: flex;
            margin: 20px 20px;
            background-color: #fff;
            border-radius: 40px;
            .activity_text {
                box-sizing: border-box;
                padding: 20px;
                width: 65%;
                display: inline-block;
                vertical-align: middle;
                h4 {
                    font-family: "Noto Sans TC", "sans-serif";
                    font-size: 18px;
                    font-weight: bold;
                }
                p {
                    padding: 0 15px;
                    line-height: 30px;
                }
            }
        }
    }
}


//   日曆
/////////////////////////////////////
.activity_section {
    position: relative;
    .body_content{
        
        .arm_left {
            width: 90px;
            height: 200px;
            background: #A0BA4F;
            border: 1px ;
            border-radius: 50% / 40%;
            position: absolute;
            top: 45%;
            left: 32%;
            transform: rotate(50deg);
            z-index: -1;
            animation:leftHand .5s ease-in-out infinite;
        }
        .arm_right {
            width: 80px;
            height: 180px;
            background: #A0BA4F;
            border: 1px ;
            border-radius: 50% / 40%;
            position: absolute;
            top: 50%;
            left: 63%;
            transform: rotate(-50deg);
            z-index: -1;
        }
        @keyframes leftHand{
            0% {
                transform: rotate(-60deg);
            }
            20% {
                transform: rotate(-75deg);
            }
            40% {
                transform: rotate(-90deg);
            }
            60% {
                transform: rotate(-75deg);
            }          
            100%{
                transform: rotate(-60deg);
            }           
        }

    }
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100%;
        // width: 90%;
        background-image: url("../images/member/canladerbody.png");
        background-position: top;
        background-repeat: no-repeat;
        padding: 10% 0 5% 0;
        background-size: contain;
        position: relative;
        .eye_left {
            z-index: 2;
            width: 70px;
            height: 70px;
            background: #fff;
            border: 1px solid #000;
            border-radius: 50%;
            position: absolute;
            top: 15%;
            left: 43%;
            animation: eye-blink 5s infinite;
            }
            
            /* 眨眼 */
            @keyframes eye-blink { 
                0%, 6% {
                    transform: scaleX(1) scaleY(1);
            }
                3% {
                    transform: scaleX(1.03) scaleY(0.1);
                }
            }
            .eye_right {
                z-index: 2;
                width: 70px;
                height: 70px;
                background: #fff;
                border: 1px solid #000;
                border-radius: 50%;
                position: absolute;
                top: 15%;
                left: 53%;
                animation: eye-blink 5s infinite;
            }
            .pupil {
                z-index: 3;
                width: 38px;
                height: 38px;
                background: #000;
                border-radius: 50%;
                position: absolute;
                top: 20px;
                left: 20px;
            }
    }
    button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    #calendari {
        margin: 20px 0;
        position: relative;
        overflow: hidden;
        height: 310px;
        width: 350px;
        font-size: 14px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
    }
    table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 350px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(0);
        transition: all 0.3s ease;
    }
    table.actiu {
        transform: translateX(0px) top;
    }
    table.inactiu {
        transition: all 0.3s 0.01s ease;
    }
    table.amagat-esquerra {
        transform: translateX(-299px);
    }
    table.amagat-dreta {
        transform: translateX(300px);
    }
    td,
    th {
        text-align: center;
        background-color: #fff;
    }
    th {
        padding: 10px;
    }
    tr:first-child th {
        font-size: 20px;
        font-weight: bold;
        border-left: none;
        border-top: none;
    }
    td:last-child,
    th:last-child {
        border-right: none;
    }

    th {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #5a7528;
        color: #fff;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
        font-weight: normal;
    }
    th .any {
        font-size: 12px;
        font-weight: normal;
        display: block;
        text-shadow: none;
        color: rgba(0, 0, 0, 0.4);
    }
    tr:nth-child(2) th {
        padding: 5px;
    }
    td {
        padding: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    td > span {
        color: #555;
        padding: 10px;
        display: block;
        border: 2px solid transparent;
        transition: border 0.3s ease;
    }

    td:nth-child(even) > span {
        background-color: rgba(0, 0, 0, 0.02);
    }
    td:last-child > span,
    td:nth-child(6) > span {
        color: #5a7528;
    }
    td.avui > span {
        font-weight: bold;
        background-color: #5a7528;
        color: #fff;
        border: 2px solid rgba(0, 0, 0, 0.1);
    }
    td.fora > span {
        opacity: 0.2;
    }
    td > span:hover {
        background: #6ac13c;
        color: #fff;
    }
    .boto-next,.boto-prev {
        background: rgba(0, 0, 0, 0.1);
        color: #fff;
        font-family: inherit;
        border: none;
        font-size: 18px;
        font-weight: bold;
        text-shadow: inherit;
        padding: 2px 10px 5px 10px;
        line-height: 1px;
        height: 30px;
        width: 30px;
        vertical-align: middle;
        border-radius: 100%;
        position: absolute;
        top: 15px;
    }
    .boto-next {
        right: 10px;
        padding-left: 13px;
    }
    .boto-prev {
        left: 10px;
        padding-right: 13px;
    }
    .boto-next:hover, .boto-prev:hover {
        background: rgba(0, 0, 0, 0.2);
    }
    button:hover {
        cursor: pointer;
    }
    button:focus {
        outline: none;
    }
}
    @media screen and (max-width:767px){
        .wrapper{
            background-image: none;
        }
    }
    @media screen and (max-width: 1000px){
       
        .eye_left {
            display: none;
        }
        .eye_right {
            display: none;
            }
        .arm_left {
            display: none;
        }
        .arm_right {
            display: none;
        }        
    }
    // @media screen and (max-width:768px){

    // }

    // 天空
    $sun-color: #FFD740;
    $face-color: #880E4F;
    $face-color2: #EF9A9A;    
    
    .activity_section{
        .sun_content{
            overflow: hidden;
            
            // position: relative;
            // height: 100vh;
            // background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
            // .sun {
            //     position: absolute;
            //     top: 0px;
            //     left: 80%;
            //     width: 120px;
            //     height: 120px;
            //     background-image: linear-gradient(to top, #ff0844 0%, yellow 100%);
            //     border-radius: 60px;
            //     animation: sun 1.3s ease-in-out 2.7s infinite alternate;
            //     .smile {
            //         position: relative;
            //         top: 32px;
            //         left: calc(50% - 10px);
            //         width: 20px;
            //         height: 10px;
            //         border-bottom: 10px solid $face-color;
            //         border-radius: 100%;
            //     }
            //     .eye {
            //         display: inline-block;
            //         position: relative;
            //         top: 37px;
            //         width: 10px;
            //         height: 10px;
            //         border-radius: 10px;
            //         background-color: $face-color;
            //         &:nth-child(1) {
            //             left: 30%;
            //         }
            //         &:nth-child(2) {
            //             left: 50%;
            //         }
            //     }
                
            // }
            // @media screen and (max-width:767px){
            //     .sun{
            //         width: 60px;
            //         height: 60px;
            //         .smile{
            //             width: 10px;
            //             height: 5px;
            //             .eye{
            //                 width: 3px;
            //                 height: 3px;
            //                 top: 30px;
            //             }
            //         }
            //     }
            // }
            @keyframes sun{
                0% {
                    transform: translate(0px, 0px);
                }
                50% {
                    transform: translate(0px, -5px);
                }
                100% {
                    transform: translate(0px, 0px);
                }
            }
            .skycloud{ //熱氣球
                width:20%;
                position:absolute;
                top:140px;
                right:250px;
                // animation : windtwo 10s forwards ; 
                z-index:-1;
            } 
            // #skycloud5_b{
                
            //     // animation : windtwo 10s ease-in infinite alternate; 
            //     animation : windtwo 10s forwards ; 
            //     z-index:-1;
            // }
            @media screen and (max-width: 767px){
                .skycloud{
                    // height: 100px;
                    width: 30%;
                    margin: 5px;
                    animation: none;
                    display: none;
                }

            }

            @keyframes windtwo{
                // 0%{
                //     right:0px;
                //     transform: scaleX(1);
                // }
                // 50%{
                //     right:350px;
                //     transform: scaleX(1);
                // }
                0% {
                    right: -100%;
                    // right:-1200px;
                    top: 0px;
                    bottom: 0px; }
                100% {
                    right: 0px;
                    top: 0px; } 
                
                // 75%{
                //     transform: scaleX(-1);
                //     left:0px;
                // }
                100%{
                    // transform: scaleX(-1);
                    right:700px;
                }
            }
            @keyframes walk {
                0% {
                  -webkit-transform: translate3d(-25%, 0%, 0) scaleX(1); }
                3% {
                  -webkit-transform: translate3d(-10%, 5%, 0) scaleX(1); }
                6% {
                  -webkit-transform: translate3d(-5%, 0%, 0) scaleX(1); }
                9% {
                  -webkit-transform: translate3d(0%, 5%, 0) scaleX(1); }
                12% {
                  -webkit-transform: translate3d(15%, 0%, 0) scaleX(1); }
                15% {
                  -webkit-transform: translate3d(20%, 5%, 0) scaleX(1); }
                18% {
                  -webkit-transform: translate3d(25%, 0%, 0) scaleX(1); }
                21% {
                  -webkit-transform: translate3d(30%, 5%, 0) scaleX(1); }
                24% {
                  -webkit-transform: translate3d(35%, 0%, 0) scaleX(1); }
                27% {
                  -webkit-transform: translate3d(40%, 5%, 0) scaleX(1); }
                30% {
                  -webkit-transform: translate3d(45%, 0%, 0) scaleX(1); }
                33% {
                  -webkit-transform: translate3d(55%, 0%, 0) scaleX(1); }
                36% {
                  -webkit-transform: translate3d(60%, 5%, 0) scaleX(1); }
                37% {
                  -webkit-transform: translate3d(65%, 0%, 0) scaleX(-1); }
                42% {
                  -webkit-transform: translate3d(55%, 5%, 0) scaleX(-1); }
                45% {
                  -webkit-transform: translate3d(50%, 0%, 0) scaleX(-1); }
                48% {
                  -webkit-transform: translate3d(45%, 5%, 0) scaleX(-1); }
                51% {
                  -webkit-transform: translate3d(40%, 0%, 0) scaleX(-1); }
                54% {
                  -webkit-transform: translate3d(35%, 5%, 0) scaleX(-1); }
                57% {
                  -webkit-transform: translate3d(30%, 0%, 0) scaleX(-1); }
                60% {
                  -webkit-transform: translate3d(25%, 5%, 0) scaleX(-1); }
                63% {
                  -webkit-transform: translate3d(20%, 0%, 0) scaleX(-1); }
                66% {
                  -webkit-transform: translate3d(15%, 5%, 0) scaleX(-1); }
                69% {
                  -webkit-transform: translate3d(10%, 0%, 0) scaleX(-1); }
                72% {
                  -webkit-transform: translate3d(5%, 5%, 0) scaleX(-1); }
                75% {
                  -webkit-transform: translate3d(0%, 0%, 0) scaleX(-1); }
                99% {
                  -webkit-transform: translate3d(0%, 0%, 0) scaleX(-1); } }
        }



    }
