.section_backend{
    font-size: 0;

    .backend_left{
        width: 20%;
        display: inline-block;
        vertical-align: top;
        border-right: 1px solid rgba(0,0,0,0.5);
        font-size: 16px;
        box-sizing: border-box;
        a{

            display: block;
            text-align: center;
            margin: 40px auto;
            width: 200px;
            height: 50px;
            text-decoration: none;
            background-color: #aaa;
            line-height: 50px;
        }
    }
    .backend_right{
        font-size: 16px;
        width: 80%;
        display: inline-block;
        .right_title{
            border-bottom: 1px solid rgba(0,0,0,0.5);
            height: 80px;
            display: flex;
            align-items: center;
            padding: 10px;
            input{
                margin-left: 100px;
            }
        }
        #main_back{
            text-align: left;
            th {
                box-sizing: border-box;
                padding: 10px;
                border-bottom: 3px double rgba(0,0,0,0.3);
            }
            td{
                box-sizing: border-box;
                padding: 10px;
                border-bottom: 1px solid rgba(0,0,0,0.3);
            }
        }
    }
}