@include rwd(desktop) {
    .section_demo {
        background-color: rgba(109, 109, 109, 0.26);
        margin-top: -140px;
        margin-bottom: -50px;
        width: 100%;
        height: 90vh;
        overflow: hidden;
        font-size: 0;
        .map_container{
            top: 15%;
            left: 52%;
            width: 28%;
            transform: translate(25%,-60%);
            position: relative;
            .small_map{
                position: absolute;
                border: 5px dashed rgba(0, 0, 0, 0.479);
                border-radius: 10px;
                width: 430px;
            }
            .point{
                position: absolute;
                top:0;
                left: 0;
                margin-top:150px;
                margin-left: 340px;
                width: 50px;
                animation: where 1s infinite;
                @keyframes where {
                    0%{transform: rotateY(50deg);
                        transform-origin:55% 0;
                    };
                    25%{transform: rotateY(100deg);
                        transform-origin:55% 0;
                    };
                    50%{transform: rotateY(50deg);
                        transform-origin:55% 0;};
                    100%{transform: rotateY(0deg);
                        transform-origin:55% 0;};
                }
            }
        }
        .demo_container {
            width: 300%;
            height: 300%;
            transform: translate(-33.333333%, -33.33333%);
            transition: 1s;
            .demo_facility {
                display: inline-block;
                width: 33.3333%;
                height: 33.3333%;
                font-size: 60px;
                box-sizing: border-box;
                position: relative;
                .demo_text{
                    background-color: rgba(255, 255, 255, 0.459);
                    border-radius: 20px;
                    position: absolute;
                    width: 20%;
                    top: 0;
                    left: 0;
                    transform:translate(187%,25%);
                    #pirateShip{
                        width: 95%; 
                        padding: 10px 0 10px 0;
                    }
                    #waterSlide{
                        width: 100%;
                        height: 250px;
                        padding: 0;
                    }
                    #waterSlide,#rollerCoaster,#Carousel,#ferrisWheel,#out{
                        width: 100%;
                        height: 250px;
                        padding: 0;
                    }
                    .demo_img{  
                        display: inline-block;
                        width:50%;
                        height:50%;
                        padding: 15% 25% 5% 25%;
                        filter:drop-shadow(-25px 25px 25px rgba(26,58,70,0.7));
                    }
                    .demo_imgBG{
                        opacity: 0.55;
                        position: absolute; 
                        border-radius: 20px;
                        filter:drop-shadow(-25px 25px 25px rgba(26,58,70,0.7));
                        animation: gbdown 1s forwards;
                        width: 100%;
                        filter:drop-shadow(10px 15px 5px rgba(2, 2, 2, 0.685));
                        @keyframes  gbdown {
                            0% {
                                transform: translateY(-200%);
                            }
                            60% {
                                transform: translateY(0);
                            }
                            75% {
                                transform: scale(1.25, 0.75);
                            }
                
                            80% {
                                transform: scale(0.75, 1.25);
                            }
                
                            85% {
                                transform: scale(1.15, 0.85);
                            }
                
                            90% {
                                transform: scale(0.95, 1.05);
                            }
                
                            95% {
                                transform: scale(1.05, 0.95);
                            }
                
                            100% {
                                transform: scale(1, 1);
                            }
                        }
                    }
                    p{
                        font-size: 18px;
                        padding: 2%;
                        line-height: 25px;
                    }
                    h4{
                        font-size: 26px;
                        line-height: 25px;
                        text-align: center;
                    }
                }
            }
        }
        .demo_arrow {
            position: fixed;
            width: 40px;
            height: 40px;
            z-index: 50;
            img {
                width: 100%;
                filter:drop-shadow(10px 15px 5px rgba(2, 2, 2, 0.685));
            }
        }
        .demo_toparrow {
            top: 13%;
            left: 48%;
            p{
                z-index: 55;
                position: absolute;
                font-size: 25px;
                cursor: pointer;
            }
            img{
                animation: rubberBand 1s infinite;
                &:hover{
                    animation: tobig_T 1s infinite;
                    @keyframes tobig_T {
                        from {
                            transform: scale(1, 1);
                            opacity: 1;
                        }
                        to {
                            transform: scale(2, 1);
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
        @keyframes rubberBand {
            from {
                transform: scale(1, 1);
            }
            30% {
                transform: scale(1.25, 0.75);
            }

            40% {
                transform: scale(0.75, 1.25);
            }

            50% {
                transform: scale(1.15, 0.85);
            }

            65% {
                transform: scale(0.95, 1.05);
            }

            75% {
                transform: scale(1.05, 0.95);
            }

            to {
                transform: scale(1, 1);
            }
        }
        .demo_leftarrow {
            top: 45%;
            left: 5%;
            transform: rotate(-90deg);
            p{
                z-index: 55;
                position: absolute;
                font-size: 25px;
                transform: rotate(90deg);
                cursor: pointer;
            }
            img{
                animation: rubberBand 1s infinite;
                &:hover{
                    animation: tobig_L 1s infinite;
                    @keyframes tobig_L {
                        from {
                            transform: scale(1, 1);
                            opacity: 1;
                        }
                        to {
                            transform: scale(1, 2);
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
        .demo_rightarrow {
            top: 45%;
            right: 5%;
            transform: rotate(90deg);
            p{
                z-index: 55;
                position: absolute;
                font-size: 25px;
                transform: rotate(-90deg);
                cursor: pointer;
            }
            img{
                animation: rubberBand 1s infinite;
                &:hover{
                    animation: tobig_R 1s infinite;
                    @keyframes tobig_R {
                        from {
                            transform: scale(1, 1);
                            opacity: 1;
                        }
                        to {
                            transform: scale(1, 2);
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
        .demo_bottom {
            bottom: 15%;
            right: 49.5%;
            transform: rotate(180deg);
            p{
                z-index: 55;
                position: absolute;
                font-size: 25px;
                transform: rotate(-180deg);
                cursor: pointer;
            }
            img{
                animation: rubberBand 1s infinite;
                &:hover{
                    animation: tobig_B 1s infinite;
                    @keyframes tobig_B {
                        from {
                            transform: scale(1, 1);
                            opacity: 1;
                        }
                        to {
                            transform: scale(2, 1);
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
    .section_camera,
    .section_mission,
    .play_title,
    .playticket_title {
        display: none;
    }
    .demo_scan{
        position: relative;
        padding: 20px;
        padding-top: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .demo_scaninner{
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(85%,30%);
            width: 15%;
            #QRcode0,#QRcode1,#QRcode2,#QRcode3,#QRcode4,#QRcode5,#QRcode6,#QRcode7,#QRcode8{
                transform: scale(0.7);
            }
            .btn{
                margin: auto;
            }
            .section_title{
                margin: 0;
                padding: 0;
            }
        }

        .direction_right{
            z-index: 55;
            font-size: 35px;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translate(830%,50%) rotate(60deg);
            color:rgba(36, 36, 36, 0.795);
        }
        .direction_bottom{
            z-index: 55;
            font-size: 35px;
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translate(180%,670%);
            color:rgba(36, 36, 36, 0.795);
            &:nth-child(3){
                transform: translate(270%,620%);
                border-style: none;
            }
        }
        .direction_left{
            z-index: 55;
            font-size: 35px;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translate(-100%,50%);
            color:rgba(36, 36, 36, 0.795);
        }
        .direction_top{
            z-index: 55;
            font-size: 35px;
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(270%,-55%);
            color:rgba(36, 36, 36, 0.795);
        }
    }

    .section_playticket {
        position: fixed;
        left: 5%;
        bottom: 5%;
        width: 375px;
        margin: auto;
        z-index: 1;
        * {
            vertical-align: middle;
            box-sizing: border-box;
        }
        .playticket_title {
            @include section_titleM;
            margin-bottom: 30px;
        }
        .playticket_ticket {
            transform: scale(0.5) translate(25%,30%);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            background-image: url("../images/ticket/ticket.png");
            background-size: cover;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 23%;
            padding-bottom: 20px;
            .ticket_name p {
                font-size: 30px;
                padding: 15px;
            }
            .ticket_img {
                img {
                    width: 80%;
                    display: block;
                    margin: auto;
                    padding: 15px;
                }
            }
            .ticket_team {
                p {
                    font-size: 30px;
                }
                background-image: url("../images/ticket/ticket_board.png");
                background-size: cover;
                width: 70%;
                text-align: center;
                margin-top: -25px;
                padding: 15px;
            }
            .ticket_reward {
                color: #f00;
                font-size: 40px;
                padding: 15px;
            }
            .ticket_mascot {
                position: absolute;
                right: -10px;
                bottom: -10px;
                width: 100px;
            }
        }
        .playticket_buttom {
            display: none;
        }
    }
}

@include rwd(phone) {
    .section_demo {
        display: none;
    }
    .page_title {
        @include page_titleM;
        margin-top: 150px;
        margin-bottom: 40px;
    }
    .section_playticket {
        * {
            vertical-align: middle;
            box-sizing: border-box;
        }
        .playticket_title {
            @include section_titleM;
            margin-bottom: 30px;
        }
        .playticket_ticket {
            width: 95%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            background-image: url("../images/ticket/ticket.png");
            background-size: cover;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 23%;
            padding-bottom: 30px;
            .ticket_name p {
                font-size: 30px;
                padding: 15px;
            }
            .ticket_img {
                img {
                    width: 80%;
                    display: block;
                    margin: auto;
                    padding: 15px;
                }
            }
            .ticket_team {
                p {
                    font-size: 30px;
                }
                background-image: url("../images/ticket/ticket_board.png");
                background-size: cover;
                width: 70%;
                text-align: center;
                margin-top: -25px;
                padding: 15px;
            }
            .ticket_reward {
                color: #f00;
                font-size: 40px;
                padding: 15px;
            }
            .ticket_mascot {
                position: absolute;
                right: -10px;
                bottom: -10px;
                width: 100px;
            }
        }
        .playticket_buttom {
            width: 100%;
            .buttom_box {
                display: flex;
                justify-content: space-around;
                margin: 20px auto;
            }
            .buttom_style {
                @include btn_active;
            }
        }
    }
    .section_mission {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 50px;
        .mission_title {
            @include section_titleM;
            display: block;
            padding: 20px;
            margin: 20px 60px;
        }
        .mission_progress {
            width: 45%;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 10px 0;
            .progress_check {
                width: 20px;
                height: 20px;
                border-radius: 20px;
                border: 2px solid #fff;
                background-color: #ddedb7;
                box-shadow: 2px 2px 5px 0px #000;
                box-sizing: border-box;
            }
            .progress_box {
                width: 125px;
                height: 63px;
                border: 2px solid #fff;
                background-color: #ddedb7;
                line-height: 63px;
                font-size: 20px;
                text-align: center;
                box-sizing: border-box;
            }
        }
        .progress_box_Complete {
            width: 60%;
            height: 63px;
            line-height: 63px;
            background-color: #ddedb7;
            border: 2px solid #fff;
            text-align: center;
            margin-top: 20px;
            box-sizing: border-box;
        }
    }
    .section_camera {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        align-items: center;
    }
}
