.index_navbar {
    @include rwd(desktop) {
        background-image: url("../images/index/home_bg_first_2.png");
        background-size: cover;
    }
    @include rwd(phone) {
        background-image: url("../images/index/homeM_bg_first_3.jpg");
        background-size: cover;
        background-position: bottom;
    }
    .section_footer {
        margin-top: -87px;
    }
}
#winner_team_slogan {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 70%;
    max-width: 150px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    transform: translateX(100%);
    border-radius: 20px;
    display: none;
    &::after {
        content: "";
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        border-top: 10px solid transparent;
        border-right: 30px solid rgba(255, 255, 255, 0.8);
        border-bottom: 10px solid transparent;
    }
    @include rwd(phone) {
        transform: translateX(-50%);
        left: 50% !important;
        top: 30% !important;
        width: 80%;
        max-width: 300px;
        &::after {
            display: none;
        }
    }
}

.section_Podium {
    .Podium_welcome {
        background-image: url("../images/mixin/page_title.svg");
        background-size: cover;
        width: 30%;
        max-width: 300px;
        padding: 1.4% 5%;
        margin: 0 auto;
        text-align: center;
        animation: welcome 1s ease-out 1.3s backwards;
        @keyframes welcome {
            from {
                opacity: 0;
                transform: translateY(-100%) scale(1, 1);
            }
            30% {
                transform: scale(1.25, 0.75);
            }

            40% {
                transform: scale(0.75, 1.25);
            }

            50% {
                transform: scale(1.15, 0.85);
            }

            65% {
                transform: scale(0.95, 1.05);
            }

            75% {
                transform: scale(1.05, 0.95);
            }

            to {
                transform: translateY(0) scale(1, 1);
            }
        }
        img {
            width: 100%;
            min-width: 200px;
        }
        @include rwd(phone) {
            background-size: 100% 100%;
            width: 80%;
            margin: 0 auto 20%;
        }
    }
    .Podium_winner {
        width: 55%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        .winner_people {
            width: 10px;
            position: relative;
            // 固定式隊呼
            // .team_slogan ,#winner_team_slogan {
            //     @include rwd(phone) {
            //         display: none;
            //     }
            //     position: absolute;
            //     z-index: 2;
            //     width: 70%;
            //     max-width: 150px;
            //     padding: 20px;
            //     background-color: rgba(255, 255, 255, 0.8);
            //     top: 10%;
            //     right: 10%;
            //     transform: translateX(100%);
            //     border-radius: 20px;
            //     &::after {
            //         content: "";
            //         position: absolute;
            //         left: -30px;
            //         top: 50%;
            //         transform: translateY(-50%);
            //         border-top: 10px solid transparent;
            //         border-right: 30px solid rgba(255, 255, 255, 0.8);
            //         border-bottom: 10px solid transparent;

            //     }
            // }

            &:nth-child(1) {
                flex-grow: 1;
                .winner4th:first-child {
                    animation: winner4th 0.3s backwards ease-out;
                }
                @keyframes winner4th {
                    0% {
                        transform: rotate(-90deg) translateY(-200%);
                        opacity: 0;
                    }
                    100% {
                        transform: rotate(0deg) translateY(0%);
                    }
                }
                @keyframes winnermove {
                    0% {
                        transform: translateX(0%) translateY(0%);
                    }
                    25% {
                        transform: translateX(-5%) translateY(-2%) rotate(-5deg);
                    }
                    50% {
                        transform: translateX(0%) translateY(0%);
                    }
                    75% {
                        transform: translateX(5%) translateY(-2%) rotate(5deg);
                    }
                    100% {
                        transform: translateX(0%) translateY(0%);
                    }
                }
            }
            &:nth-child(2) {
                flex-grow: 2;
                .winner4th:first-child {
                    animation: winner4th 0.3s backwards ease-out 0.3s;
                }
            }
            &:nth-child(3) {
                flex-grow: 3;
                .winner4th:first-child {
                    animation: winner4th 0.3s backwards ease-out 0.6s;
                }
            }
            &:nth-child(4) {
                flex-grow: 4;
                .winner4th:first-child {
                    animation: winner4th 0.3s backwards ease-out 0.9s;
                }
            }
            .winnermove {
                animation: winnermove 4s infinite;
            }
            img:nth-child(1) {
                position: relative;
                z-index: 1;
                margin-bottom: -20%;
            }
            @include rwd(desktop) {
                // :hover {
                //     >:nth-child(2) {
                //         animation: rubberBand 1s infinite;
                //     }
                // }

                &:hover {
                    > :nth-child(2) {
                        animation: rubberBand 1s;
                    }
                }
            }
        }
        img {
            width: 100%;
        }
        @include rwd(phone) {
            width: 90%;
        }
    }
    .winner_teammate {
        width: 60%;
        max-width: 1200px;
        margin: -5% auto 0;
        display: flex;
        overflow: hidden;
        vertical-align: middle;
        box-sizing: border-box;
        @include rwd(phone) {
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
        }
        .teammate_post {
            font-size: 18px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1%;
            padding:6% 1% 3%;
            width: 20%;
            // background-image: url("../images/index/wanted.png");
            background-image: url("../images/team/wanted.svg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            @include rwd(phone) {
                font-size: 16px;
                width: 29%;
                padding:8% 1% 3%;
                background-image: url("../images/team/wanted.png");
            }
            .ticket_name {
                margin-bottom: 5px;
                @include rwd(phone) {
                    margin: 10px 0;
                }
            }
            .ticket_reward {
                p {
                    margin: 10px 0;
                }
            }
            .ticket_img {
                text-align: center;
                width: 90%;
            }
            img {
                width: 80%;
            }
            .ticket_team {
                p {
                    font-size: 16px;
                }
                background-image: url("../images/ticket/ticket_board.png");
                background-size: cover;
                width: 70%;
                text-align: center;
                margin-top: -25px;
                padding: 5px;
            }
            .ticket_mascot {
                position: absolute;
                right: 0%;
                bottom: 25%;
                width: 30%;
            }
        }
    }
}

.section_facility {
    // display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;

    //===

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        #arrowlift,
        #arrowright {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            height: 50px;
            width: 50px;
            z-index: 1;
            img {
                width: 100%;
            }
            &:hover {
                img {
                    animation: rubberBand 1s infinite;
                }
            }
        }
        #arrowlift {
            left: 10px;
            transform: rotate(-90deg);
        }
        #arrowright {
            right: 10px;
            transform: rotate(90deg);
        }
    }
    @include rwd(desktop) {
        // background-image: url("../images/index/home_bg_2.png");
        background-image: linear-gradient(#ffae58, #fff4e3);
        background-repeat: no-repeat;
        width: 100%;
        background-size: 100% 100%;
    }
    @include rwd(phone) {
        background-image: url("../images/index/homeM_bg_3.jpg");
    }
    //===
    .slider_title {
        text-shadow: 0px 1px 4px rgb(75, 54, 36);
        font-size: 22px;
        letter-spacing: 3px;
    }
    .title_box {
        padding-bottom: 60px;
        width: 100%;
    }
    .facility_slider {
        z-index: 2;
        transform: translateY(-10%);
        display: inline-block;
        width: 60%;
        padding-bottom: 30%;
        position: relative;
        .slider_container > li {
            float: left;
            list-style-type: none;
            position: absolute;
            background-color: rgba(184, 124, 11, 0.219);
            transition-property: all;
            transition-duration: 1s;
            transition-timing-function: ease-in-out;
            text-align: center;
            color: #fff;
            cursor: pointer;
            overflow: hidden;
            backface-visibility: hidden;
            background-image: url("../images/index/slider_bg.png");
            background-size: cover;
            // .slider_bg{
            //     background-image: url("../images/index/slider_bg.png");
            //     background-size: cover;
            // }
        }

        .slider_container {
            width: 400px;
            height: 100%;
            bottom: 0;
            top: 0;
            right: 0;
            left: 0;
            margin: auto;
            transform-style: preserve-3d;
            perspective: 5000px;
            // perspective-origin: center -250px;
            position: absolute;
            .slider_bg {
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-around;
                padding-bottom: 30px;
            }
        }

        .slider_container > li > div {
            // position: absolute;
            // top: 10px;
            // right: 10px;
            // left: 10px;
            // bottom: 10px;
            padding: 10px;
            .slider_img {
                // position: relative;
                height: 50%;
                text-align: center;
                > img {
                    height: 100%;
                }
                .slider_star {
                    position: absolute;
                    left: 20px;
                    top: 20px;
                    text-shadow: 1px 1px 1px #000;
                    img {
                        vertical-align: middle;
                        width: 30px;
                    }
                }
            }
            .slider_text {
                background-image: url("../images/index/slider_ comment.png");
                background-size: 100% 100%;
                margin: 10px auto;
                background-repeat: no-repeat;
                background-position: center;
                height: 35%;
                width: 100%;
                text-align: left;
                padding: 15px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                position: relative;
                @include rwd(phone) {
                    padding: 5px;
                    font-size: 12px;
                }
                img {
                    width: 10%;
                }
                .slider_score {
                    width: 40%;
                    position: absolute;
                    left: 5px;
                    top: -5%;
                    @include rwd(phone) {
                        top: -5%;
                        left: 1%;
                    }
                }
                .slider_member {
                    display: flex;
                    width: 90%;
                    margin: auto;
                    position: relative;

                    .slider_memberimg {
                        width: 30%;
                        // position: relative;
                        text-align: center;
                        img {
                            width: 60%;
                            // position: absolute;
                            // left: 0;
                            // right: 0;
                            // top: 0;
                            // bottom: 0;
                            // margin: auto;
                            @include rwd(phone) {
                                width: 90%;
                            }
                        }
                    }
                    p {
                        color: black;
                        width: 70%;
                        height: 70%;
                        box-sizing: border-box;
                        padding: 5px 5px;
                        font-size: 12px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
    .facility_rule {
        width: 40%;
        height: 400px;
        background-image: url("../images/index/cavern.png");
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        @include rwd(phone) {
            width: 100%;
            background-size: 132%;
            background-position: 30%;
        }
        .facility_ruleol {
            // padding-top: 35%;
            // padding-bottom: 15%;
            padding-left: 30%;
            // padding-right: 30%;
            // background-image: url("../images/index/cavern.png");
            // background-size: 100% 100%;
            @include rwd(phone) {
                // padding-top: 25%;
                // padding-bottom: 10%;
                // padding-left: 25%;
                // padding-right: 25%;
                margin-top: 50px;
            }
        }
        p {
            background-image: url("../images/index/section_2.svg");
            background-repeat: no-repeat;
            padding: 15px 10px;
            width: 135px;
            filter: drop-shadow(1px 1px 1px #000);
            text-shadow: 1px 1px 1px #000;
        }
        ol {
            width: 80%;
            padding: 10px;
            list-style: decimal;
            @include rwd(phone) {
                width: 90%;
            }
        }
    }
    @include rwd(phone) {
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: hidden;
        .facility_slider {
            width: 95%;
            padding-bottom: 100%;
            .slider_container {
                width: 80%;
            }
        }
        .container {
            flex-wrap: wrap;
        }
    }
}
.index_team {
    // .section_title {
    //     margin: 0 auto 50px;
    //     @include rwd(phone){
    //         margin: 0 auto 20px;
    //     }
    // }
    //===
    @include rwd(desktop) {
        background-image: url("../images/index/home_bg_3_1.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        background-position: 30% 100%;
    }
    @include rwd(phone) {
        background-image: url("../images/index/homeM_bg_2.png");
        // background-size: 150%;
    }
    //===
    .img_Wooden_pile img {
        width: 100%;
    }
}
.index_ticket_customize {
    //===
    @include rwd(desktop) {
        background-image: url("../images/index/home_bg_4.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        background-position: 50% 100%;
        .container {
            .ticket_customize {
                display: block;
                .ticket_customize_wrap {
                    width: 100%;
                    .customize_items_set_box {
                        width: 50%;
                    }
                    .indexticket_buy {
                        margin-left: 230px;
                        > a {
                            color: white;
                        }
                    }
                    .customize_mascots_boxs {
                        width: 50%;
                        float: right;
                        margin-bottom: 20px;
                    }
                    .customize_mascot_role {
                        z-index: 3;
                        width: 50%;
                        float: left;
                    }
                    .customize_items {
                        width: 50%;
                        float: right;
                    }
                }
            }
            &::after {
                content: "";
                display: block;
                clear: both;
            }
        }
    }
    @include rwd(phone) {
        background-image: url("../images/index/homeM_bg_2.png");
        // .customize_items_set_box {
        //     width: 100%;
        // }
        .indexticket_buy {
            margin: 0 auto;
            > a {
                color: white;
            }
        }
    }
    //===
}
@include rwd(phone) {
    .ticket_customize_scetion {
        overflow: hidden;
    }
}

.section_store {
    width: 100%;
    overflow: hidden;
    //===
    @include rwd(desktop) {
        background-image: url("../images/index/home_bg_3_1.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 50% 100%;
    }
    @include rwd(phone) {
        background-image: url("../images/index/homeM_bg_2.png");
        background-position: center;
    }
    .store_background {
        background-image: linear-gradient(#fff 60%, #ddd 110%);
        border-radius: 10px;
        padding: 10px 0 30px;
        color: #000;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
        img {
            width: 100%;
        }
    }
    //===
    padding-bottom: 87px;
    .swiper-container {
        width: 100%;
        margin: 0 auto 50px;
        padding-bottom: 50px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 221px;
        padding: 30px;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: 100% 100%;
        text-align: center;
        color: #fff;
    }

    .store_btn {
        @include btn_active;
        margin: 20px;
    }
}
.index {
    .section_footer {
        margin-top: -87px;
    }
}
