.index_navbar {
    @include rwd(desktop) {
        background-image: url("../images/index/home_bg_first_2.png");
        background-size: cover;
    }
    @include rwd(phone) {
        background-image: url("../images/index/homeM_bg_first_3.jpg");
        background-size: cover;
        background-position: bottom;
    }
}

.section_Podium {
    .Podium_welcome {
        background-image: url("../images/mixin/page_title.svg");
        background-size: cover;
        width: 30%;
        max-width: 300px;
        padding: 1.4% 5%;
        margin: 0 auto;
        text-align: center;
        animation: welcome 1s ease-out 1.3s backwards;
        @keyframes welcome {
            from {
                opacity: 0;
                transform: translateY(-100%) scale(1, 1);
            }
            30% {
                transform: scale(1.25, 0.75);
            }

            40% {
                transform: scale(0.75, 1.25);
            }

            50% {
                transform: scale(1.15, 0.85);
            }

            65% {
                transform: scale(0.95, 1.05);
            }

            75% {
                transform: scale(1.05, 0.95);
            }

            to {
                transform: translateY(0) scale(1, 1);
            }
        }
        img {
            width: 100%;
            min-width: 200px;
        }
        @include rwd(phone) {
            background-size: 100% 100%;
            width: 80%;
            margin: 0 auto 20%;
        }
    }
    .Podium_winner {
        width: 55%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        .winner_people {
            width: 10px;
            &:nth-child(1) {
                flex-grow: 1;
                .winner4th:first-child {
                    animation: winner4th 0.3s backwards ease-out;
                }
                @keyframes winner4th {
                    0% {
                        transform: rotate(-90deg) translateY(-200%);
                        opacity: 0;
                    }
                    100% {
                        transform: rotate(0deg) translateY(0%);
                    }
                }
                @keyframes winnermove {
                    0% {
                        transform: translateX(0%) translateY(0%);
                    }
                    25% {
                        transform: translateX(-5%) translateY(-2%) rotate(-5deg);
                    }
                    50% {
                        transform: translateX(0%) translateY(0%);
                    }
                    75% {
                        transform: translateX(5%) translateY(-2%) rotate(5deg);
                    }
                    100% {
                        transform: translateX(0%) translateY(0%);
                    }
                }
            }
            &:nth-child(2) {
                flex-grow: 2;
                .winner4th:first-child {
                    animation: winner4th 0.3s backwards ease-out 0.3s;
                }
            }
            &:nth-child(3) {
                flex-grow: 3;
                .winner4th:first-child {
                    animation: winner4th 0.3s backwards ease-out 0.6s;
                }
            }
            &:nth-child(4) {
                flex-grow: 4;
                .winner4th:first-child {
                    animation: winner4th 0.3s backwards ease-out 0.9s;
                }
            }
            .winnermove {
                animation: winnermove 4s infinite;
            }
            img:nth-child(1) {
                position: relative;
                z-index: 1;
                margin-bottom: -20%;
            }
            @include rwd(desktop) {
                // :hover {
                //     >:nth-child(2) {
                //         animation: rubberBand 1s infinite;
                //     }
                // }

                &:hover {
                    > :nth-child(2) {
                        animation: rubberBand 1s;
                    }
                }
            }
        }
        img {
            width: 100%;
        }
        @include rwd(phone) {
            width: 90%;
        }
    }
    .winner_teammate {
        width: 50%;
        max-width: 1200px;
        margin: -5% auto 0;
        display: flex;
        overflow: hidden;
        vertical-align: middle;
        box-sizing: border-box;
        @include rwd(phone) {
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            .teammate_post {
                width: 29%;
            }
        }
        .teammate_post {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1%;
            padding: 1%;
            background-image: url("../images/index/wanted.png");
            background-size: 100% 100%;
            background-position: center;
            position: relative;
            .ticket_img {
                text-align: center;
            }
            img {
                width: 80%;
            }
            .ticket_team {
                p {
                    font-size: 16px;
                }
                background-image: url("../images/ticket/ticket_board.png");
                background-size: cover;
                width: 70%;
                text-align: center;
                margin-top: -25px;
                padding: 5px;
            }
            .ticket_mascot {
                position: absolute;
                right: 0%;
                bottom: 25%;
                width: 30%;
            }
        }
    }
}
// .section_facility {
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     margin: auto;
//     padding-top: 80px;
//     @include rwd(desktop) {
//         background-image: url("../images/index/home_bg_2.png");
//         background-repeat: no-repeat;
//         width: 100%;
//         background-size: 100% 100%;
//     }
//     @include rwd(phone) {
//         background-image: url("../images/index/homeM_bg_3.jpg");
//     }
//     //===
//     .title_box {
//         width: 100%;
//     }
//     .facility_slider {
//         width: 60%;
//         padding-bottom: 40%;
//         position: relative;
//         .slider_container > li {
//             float: left;
//             list-style-type: none;
//             position: absolute;
//             background-image: url("../images/index/slideback.png");
//             background-size: cover;
//             transition-property: all;
//             transition-duration: 1s;
//             transition-timing-function: ease-in-out;
//             text-align: center;
//             color: #fff;
//             cursor: pointer;
//             overflow: hidden;
//             backface-visibility: hidden;
//         }

//         .slider_container {
//             width: 40%;
//             height: 60%;
//             bottom: 0;
//             top: 0;
//             right: 0;
//             left: 0;
//             margin: auto;
//             transform-style: preserve-3d;
//             perspective: 5000px;
//             // perspective-origin: center -250px;
//             position: absolute;
//         }

//         .slider_container > li > div {
//             // position: absolute;
//             // top: 10px;
//             // right: 10px;
//             // left: 10px;
//             // bottom: 10px;
//             padding: 10px;
//             .slider_img {
//                 position: relative;
//                 height: 50%;
//                 text-align: center;
//                 > img {
//                     width: 70%;
//                 }
//                 .slider_star {
//                     position: absolute;
//                     left: 5px;
//                     top: 5px;
//                     .slider_coin {
//                         vertical-align: middle;
//                         width: 30px;
//                         height: 30px;
//                         margin-right: 3px;
//                     }
//                     .slider_name{
//                         padding: 3px;
//                         display: block;
//                     }
//                 }
//             }
//             .slider_text {
//                 height: 50%;
//                 text-align: left;
//                 background-image: url();
//                 .slider_star {
//                     width: 50%;
//                 }
//                 .slider_member {
//                     display: flex;
//                     .slider_memberimg {
//                         width: 30%;
//                         position: relative;
//                         img {
//                             width: 80%;
//                             position: absolute;
//                             left: 0;
//                             right: 0;
//                             margin: auto;
//                         }
//                     }
//                     p {
//                         width: 70%;
//                     }
//                 }
//             }
//         }
//     }
//     .facility_rule {
//         width: 30%;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         @include rwd(phone) {
//             width: 95%;
//         }
//         .facility_ruleol{
//             padding-top: 35%;
//             padding-bottom: 15%;
//             padding-left: 30%;
//             padding-right: 30%;
//             background-image: url("../images/index/cavern.png");
//             background-size: 100% 100%;
//             @include rwd(phone) {
//                 padding-top: 35%;
//                 padding-bottom: 15%;
//                 padding-left: 30%;
//                 padding-right: 30%;
//             }
//         }
//         ol {
//             width: 100%;
//             padding: 10px;
//             list-style: decimal;
//         }
//         @include rwd(desktop) {
//             padding-right: 10%;
//         }
//     }
//     @include rwd(phone) {
//         flex-direction: column;
//         align-items: center;
//         width: 100%;
//         overflow: hidden;
//         .facility_slider {
//             width: 95%;
//             padding-bottom: 130%;
//             .slider_container {
//                 width: 80%;
//             }
//         }
//     }
// }
.section_facility {
    // display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 80px;

    //===

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include rwd(desktop) {
        // background-image: url("../images/index/home_bg_2.png");
        background-image: linear-gradient(#FFAE58 , #FFF4E3);
        background-repeat: no-repeat;
        width: 100%;
        background-size: 100% 100%;
    }
    @include rwd(phone) {
        background-image: url("../images/index/homeM_bg_3.jpg");
    }
    //===
    .slider_title {
        text-shadow: 0px 1px 4px rgb(75, 54, 36);
        font-size: 22px;
        letter-spacing: 3px;
    }
    .title_box {
        padding-bottom: 50px;
        width: 100%;
    }
    .facility_slider {
        display: inline-block;
        width: 60%;
        padding-bottom: 30%;
        position: relative;
        .slider_container > li {
            float: left;
            list-style-type: none;
            position: absolute;
            background-color: rgba(184, 124, 11, 0.219);
            transition-property: all;
            transition-duration: 1s;
            transition-timing-function: ease-in-out;
            text-align: center;
            color: #fff;
            cursor: pointer;
            overflow: hidden;
            backface-visibility: hidden;
            background-image: url("../images/index/slider_bg.png");
            background-size: cover;
            // .slider_bg{
            //     background-image: url("../images/index/slider_bg.png");
            //     background-size: cover;
            // }
        }

        .slider_container {
            width: 400px;
            height: 100%;
            bottom: 0;
            top: 0;
            right: 0;
            left: 0;
            margin: auto;
            transform-style: preserve-3d;
            perspective: 5000px;
            // perspective-origin: center -250px;
            position: absolute;
            .slider_bg {
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-around;
                padding-bottom: 30px;
            }
        }

        .slider_container > li > div {
            // position: absolute;
            // top: 10px;
            // right: 10px;
            // left: 10px;
            // bottom: 10px;
            padding: 10px;
            .slider_img {
                // position: relative;
                height: 50%;
                text-align: center;
                > img {
                    height: 100%;
                }
                .slider_star {
                    position: absolute;
                    left: 20px;
                    top: 20px;
                    text-shadow: 1px 1px 1px #000;
                    img {
                        vertical-align: middle;
                        width: 30px;
                    }
                }
            }
            .slider_text {
                background-image: url("../images/index/slider_ comment.png");
                background-size: 100% 100%;
                margin: 10px auto;
                background-repeat: no-repeat;
                background-position: center;
                // height: 30%;
                text-align: left;
                padding: 15px;
                box-sizing: border-box;
                @include rwd(phone) {
                    padding: 5px;
                    font-size: 12px;
                }
                img {
                    width: 10%;
                }

                .slider_member {
                    display: flex;
                    width: 90%;
                    margin: auto;
                    position: relative;
                    .slider_score {
                        width: 40%;
                        position: absolute;
                        left: 5px;
                        top: -25%;
                        @include rwd(phone) {
                            top: -10%;
                        }
                    }
                    .slider_memberimg {
                        width: 30%;
                        position: relative;
                        img {
                            width: 60%;
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            @include rwd(phone) {
                                width: 90%;
                            }
                        }
                    }
                    p {
                        color: black;
                        width: 70%;
                        height: 70%;
                        padding: 5px 0;
                        font-size: 12px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
    .facility_rule {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        @include rwd(phone) {
            width: 95%;
        }
        .facility_ruleol {
            padding-top: 35%;
            padding-bottom: 15%;
            padding-left: 30%;
            padding-right: 30%;
            background-image: url("../images/index/cavern.png");
            background-size: 100% 100%;

            @include rwd(phone) {
                padding-top: 25%;
                padding-bottom: 10%;
                padding-left: 25%;
                padding-right: 25%;
                margin-top: 50px;
            }
        }
        ol {
            width: 100%;
            padding: 10px;
            list-style: decimal;
        }
    }
    @include rwd(phone) {
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: hidden;
        .facility_slider {
            width: 95%;
            padding-bottom: 100%;
            .slider_container {
                width: 80%;
            }
        }
        .container {
            flex-wrap: wrap;
        }
    }
}
.index_team {
    .section_title {
        margin: 0 auto 0;
    }
    //===
    @include rwd(desktop) {
        background-image: url("../images/index/home_bg_3_1.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        background-position: 30% 100%;
    }
    @include rwd(phone) {
        background-image: url("../images/index/homeM_bg_2.png");
        // background-size: 150%;
    }
    //===
    .img_Wooden_pile img {
        width: 100%;
    }
}
.index_ticket_customize {
    //===
    @include rwd(desktop) {
        background-image: url("../images/index/home_bg_4.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        background-position: 50% 100%;
    }
    @include rwd(phone) {
        background-image: url("../images/index/homeM_bg_2.png");
    }
    //===
}
.section_store {
    width: 100%;
    overflow: hidden;
    //===
    @include rwd(desktop) {
        background-image: url("../images/index/home_bg_3_1.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 50% 100%;
    }
    @include rwd(phone) {
        background-image: url("../images/index/homeM_bg_2.png");
        background-position: center;
    }
    //===
    padding-bottom: 87px;
    .swiper-container {
        width: 100%;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 221px;
        padding: 30px;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: 100% 100%;
        color: #fff;
        &:nth-child(n) {
            background-image: url("../images/product/cactus.png");
        }
        &:nth-child(2n) {
            background-image: url("../images/product/dinosaur.png");
        }
        &:nth-child(3n) {
            background-image: url("../images/product/eagle.png");
        }
    }
    
    .store_btn {
        @include btn_active;
        margin: 20px;
    }
}
