// .font {
//     font-family: 'Noto Sans TC', sans-serif;
// }

@include rwd(phone) {
    .section_rides_DetailedIntroduction {
        .page_title {
            background-size: 20%;
            font-size: 10%;
        }
        padding-top: 200px;
        margin: auto;
        max-width: 95vw;
        margin-bottom: 200px;
    }
    .section_messageBoard {
        .page_title {
            background-size: 20%;
            font-size: 10%;
        }
        .message_container {
            display: flex;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
            background-color: rgba(160, 228, 146, 0.5);
            border: 10px solid #5a752825;
            border-radius: 20px;
            .who {
                flex-grow: 1;
                width: 50px;
            }
            #status {
                display: none;
            }
            margin: 50px;
            // #messages{
            //由他自然生成
            // }
            #messagesBox {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .buttonControl {
                    flex-grow: 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    button {
                        @include btn();
                    }
                }
                #message {
                    margin: auto;
                    width: 80%;
                    flex-grow: 2;
                }
            }
        }
    }
}

@include rwd(desktop) {
    .section_rides_DetailedIntroduction {
        padding-top: 200px;
        margin: auto;
        margin-bottom: 200px;
        .section_title {
            margin: 150px;
        }
        #example3{
            transform: scale(1.25);
        }
    }
    .section_messageBoard {
        max-width: 1500px;
        margin: 200px auto 200px auto;
        .message_container {
            display: flex;
            width: 80%;
            margin: auto;
            background-color: rgba(160, 228, 146, 0.5);
            border: 10px solid #5a752825;
            border-radius: 25px;
            padding: 20px;
            margin-bottom: 50px;
            #message_form{
                margin: auto;
            }
            .who {
                padding: 20px;
                width: 150px;
            }
            #status {
                display: none;
            }
            // #messages{
            //由他自然生成
            // }
            #messagesBox {
                flex-grow: 8;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                .buttonControl {
                    flex-grow: 1;
                    button {
                        @include btn();
                        font-family: 'Noto Sans TC', sans-serif;
                    }
                }
                #message {
                    background-color: #fff;
                    margin: 5%;
                    width: 80%;
                    flex-grow: 5;
                    font-family: 'Noto Sans TC', sans-serif;
                    padding: 20px;

                }
            }
        }
    }
}