// .font {
//     font-family: 'Noto Sans TC', sans-serif;
// }
@include rwd(phone) {
    .section_ridesIntroduction {
        margin-top: 80px;
        .illustration {
            display: none;
        }
        .ridesIntroduction_bgelement {
            width: 100%;
            margin-top: 600px;
            position: relative;
        }
        .ridesIntroduction_container {
            width: 100%;
            .ridesIntroduction_frame {
                text-align: center;
                @include fontsize( section_titleM);
                .ridesIntroduction_column {
                    margin-top: 50px;
                    .text_box {
                        img {
                            &:first-child {
                                &:hover {
                                    animation: jump 2s ease-in-out infinite;
                                    @keyframes jump {
                                        0% {
                                            transform: translateX(0%) translateY(0%);
                                            filter: drop-shadow(12px 12px 3px rgba(0, 0, 0, 0.7));
                                        }
                                        25% {
                                            transform: translateX(-5%) translateY(-5%) rotate(-5deg);
                                            filter: drop-shadow(24px 24px 7px rgba(0, 0, 0, 0.6));
                                        }
                                        50% {
                                            transform: translateX(0%) translateY(10%);
                                            filter: drop-shadow(48px 48px 10px rgba(0, 0, 0, 0.5));
                                        }
                                        75% {
                                            transform: translateX(5%) translateY(-2%) rotate(5deg);
                                            filter: drop-shadow(24px 24px 7px rgba(0, 0, 0, 0.6));
                                        }
                                        100% {
                                            filter: drop-shadow(12px 12px 3px rgba(0, 0, 0, 0.7));
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(1) {
                        @include fontweight( lv2);
                    }
                    &:nth-child(2) {
                        p {
                            padding: 5%;
                            text-align: left;
                        }
                    }
                }
                .section_title {
                    @include fontsize( page_titleM);
                    @include fontweight( lv2);
                }
                img {
                    width: 50%;
                    height: 50%;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .section_aboutUs {
        text-align: center;
        margin-top: 150px;
        .aboutUs_item {
            min-height: 600px;
            position: relative;
            width: 100%;
            margin: auto;
            .board {
                width: 100%;
            }
            .aboutUs_text {
                text-align: center;
                margin-bottom: 20px;
                p {
                    text-align: left;
                    padding: 0 50px 50px 50px;
                }
                h4 {

                    padding: 20px;
                }
                .park1 {
                    width: 100vw;
                }
                .park2 {
                    width: 100vw;
                }
            }
            .aboutUs_inner {
                &:nth-child(2) {
                    padding: 30px;
                    line-height: 30px;
                }
                p {
                    text-align: left;
                }
                h4 {
                    text-align: center;
                }
                iframe {
                    background-color: #5a7528cc;
                    border: 1px solid #5a752825;
                    border-radius: 25px;
                    padding: 10px;
                    width: 90vw;
                    height: 50vh;
                }
            }
        }
        .section_title {
            @include fontsize( page_titleM);
            @include fontweight( lv2);
        }
    }
}

@include rwd(desktop) {
    .section_ridesIntroduction {
        margin: auto;
        width: 95vw;
    }
    .ridesIntroduction_container {
        position: relative;
        margin: auto;
        width: 100%;
        .section_title {
            @include fontsize( page_titleM);
            @include fontweight( lv2);
            width: 300px;
        }
        .ridesIntroduction_frame {
            width: 100%;
            margin: auto;
            height: 500px;
            margin-top: 227px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            &:nth-child(2) {
                margin-top: 300px;
            }
            &:nth-child(4) {
                margin-bottom: 300px;
            }
            .illustration {
                position: absolute;
                width: 196px;
                top: 0;
                &:nth-child(1) {
                    //吉祥物
                    width: 300px;
                    height: 300px;
                    left: 0;
                    margin-left: 230px;
                    margin-top: 914px;
                }
                &:nth-child(2) {
                    width: 220px;
                    height: 220px;
                    right: 0;
                    margin-right: 670px;
                    margin-top: 873px;
                    //帳篷
                }
                &:nth-child(3) {
                    width: 300px;
                    height: 300px;
                    right: 0;
                    margin-right: 900px;
                    margin-top: 1500px;
                }
                &:nth-child(4) {
                    // 鴨子
                    width: 300px;
                    height: 300px;
                    margin-right: 523px;
                    margin-top: 950px;
                }
                &:nth-child(5) {
                    // 火車
                    width: 300px;
                    height: 300px;
                    margin-right: 686px;
                    margin-top: -980px;
                }
                &:nth-child(6) {
                    //氣球
                    width: 170px;
                    height: 170px;
                    margin-right: 600px;
                    margin-top: 650px;
                }
            }
            &:first-child {
                height: 100px;
                position: relative;
            }
            .ridesIntroduction_box {
                z-index: 1;
                height: 100%;
                width: 500px;
                background-color: rgba(255, 255, 255, 0.486);
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .ridesIntroduction_column {
                    height: 40%;
                    width: 100%;
                    justify-content: space-around;
                    &:nth-child(1) {
                        text-align: center;
                        &::before {
                            content: '';
                            vertical-align: middle;
                            display: inline-block;
                            width: 0;
                            height: 100%;
                        }
                    }
                    .text {
                        display: flex;
                        justify-content: space-around;
                        .text_box {
                            position: relative;
                            width: 50%;
                            p {
                                padding: 35px;
                            }
                            img {
                                top: 0;
                                left: 0;
                                position: absolute;
                                width: 370px;
                                height: 370px;
                                margin-top: -45%;
                                margin-left: -35%;
                                &:first-child {
                                    &:hover {
                                        animation: jump 2s ease-in-out infinite;
                                        @keyframes jump {
                                            0% {
                                                transform: translateX(0%) translateY(0%);
                                                filter: drop-shadow(12px 12px 3px rgba(0, 0, 0, 0.7));
                                            }
                                            25% {
                                                transform: translateX(-5%) translateY(-5%) rotate(-5deg);
                                                filter: drop-shadow(24px 24px 7px rgba(0, 0, 0, 0.6));
                                            }
                                            50% {
                                                transform: translateX(0%) translateY(10%);
                                                filter: drop-shadow(48px 48px 10px rgba(0, 0, 0, 0.5));
                                            }
                                            75% {
                                                transform: translateX(5%) translateY(-2%) rotate(5deg);
                                                filter: drop-shadow(24px 24px 7px rgba(0, 0, 0, 0.6));
                                            }
                                            100% {
                                                filter: drop-shadow(12px 12px 3px rgba(0, 0, 0, 0.7));
                                            }
                                        }
                                    }
                                }
                            }
                            .plot {
                                z-index: -3;
                                margin-top: 20%;
                            }
                        }
                    }
                }
            }
        }
    }
    .section_aboutUs {
        margin: auto;
        width: 95vw;
        .section_title {
            @include fontsize( page_titleM);
            @include fontweight( lv2);
        }
        .aboutUs_container {
            margin: auto;
            width: 100%;
            .aboutUs_item {
                min-height: 600px;
                position: relative;
                width: 80%;
                margin: auto;
                &:first-child {
                    background-image: url("../images/information/board.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size:cover;
                }
                &:nth-child(2) {
                    margin: auto;
                    display: flex;
                    padding: 200px 0 0 0;
                    width: 80%;
                }
                .board {
                    width: 100%;
                }
                .aboutUs_text {
                    width: 50%;
                    height: 50%;
                    text-align: center;
                    p {
                        transform: translate(50%, 10%);
                        text-align: left;
                        padding: 0 50px 0 50px;
                    }
                    h4 {
                        transform: translate(50%, 10%);
                        padding: 20px;
                    }
                    .park1 {
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin-top: 130px;
                        margin-left: 150px;
                    }
                    .park2 {
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin-top: 187px;
                        margin-right: 120px;
                    }
                }
                .aboutUs_inner {
                    &:nth-child(1) {
                        flex-grow: 5;
                    }
                    &:nth-child(2) {
                        flex-grow: 1;
                        width: 40%;
                        line-height: 30px;
                    }
                    p {
                        text-align: left;
                    }
                    h4 {
                        text-align: center;
                    }
                    iframe {
                        background-color: #5a7528cc;
                        border: 1px solid #5a752825;
                        border-radius: 25px;
                        padding: 10px;
                        width: 80%;
                        height: 50%;
                        margin:0 10% 0 10%;
                    }
                }
            }
        }
    }
}