// .font {
//     font-family: 'Noto Sans TC', sans-serif;
// }

@include rwd(phone) {
    .section_rides_DetailedIntroduction {
        .page_title {
            background-size: 20%;
            font-size: 10%;
        }
        padding-top: 200px;
        margin: auto;
        max-width: 95vw;
        margin-bottom: 200px;
    }
    .section_messageBoard {
        .page_title {
            background-size: 20%;
            font-size: 10%;
        }
        .message_container {
            display: flex;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
            background-color: rgba(160, 228, 146, 0.5);
            border: 10px solid #5a752825;
            border-radius: 20px;
            .who {
                flex-grow: 1;
                width: 50px;
            }
            #status {
                display: none;
            }
            margin: 50px;
            // #messages{
            //由他自然生成
            // }
            #message_form {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .buttonControl {
                    flex-grow: 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    button {
                        @include btn();
                    }
                }
                #equ_message {
                    margin: auto;
                    width: 80%;
                    flex-grow: 2;
                }
            }
        }
    }
}

@include rwd(desktop) {
    .section_rides_DetailedIntroduction {
        padding-top: 200px;
        margin: auto;
        margin-bottom: 200px;
        .section_title {
        margin: 150px;
        }
        .coverBlock{
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .5);
            z-index: 5;
            textarea{
                height: 50%;
                width: 50%;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
            }
            .reportMessage{
                width: 30%;
                height: 45%;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                background-color:rgba(207, 248, 198, 0.918);
                border-radius: 15px;
                font-family: 'Noto Sans TC', sans-serif;
                h3{
                    text-align: center;
                    padding: 20px;
                }
                .fork{
                    z-index: 10;
                    top: 4%;
                    right: 1.5%;
                    position: absolute;
                    width: 15px;
                    height: 5px;
                    border-radius: 15px;
                    background-color: rgb(109, 109, 109);
                    cursor: pointer;
                }
                .left{
                    transform: rotate(45deg);
                }
                .right{
                    transform: rotate(-45deg);
                }
                .btn-close{
                    position: absolute;
                    display: block;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-decoration: none;
                    background-color: rgba(163, 255, 145, 0.842);
                    color: #fff;
                    top: 0;
                    right: 0;
                    text-align: center;
                    border-radius: 25px;
                    cursor: pointer;
                }
            }
        }
        #example3{
            transform: scale(1.25);
        }
    }
    .section_messageBoard {
        max-width: 1500px;
        margin: 200px auto 200px auto;
        .message_container {
            display: flex;
            width: 80%;
            margin: auto;
            background-color: rgba(160, 228, 146, 0.5);
            border: 10px solid #5a752825;
            border-radius: 25px;
            padding: 20px;
            margin-bottom: 50px;
            #message_form{
                margin: auto;
            }
            .who {
                flex-grow: 1;
                padding: 20px;
                width: 150px;
            }
            #status {
                display: none;
            }
            #message_box {
                flex-grow: 12;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                #report{
                    @include btn();
                    height: 10%;
                }
                #message {
                    background-color: #fff;
                    height: 25vh;
                    width: 80%;
                    font-family: 'Noto Sans TC', sans-serif;
                    padding: 10px;
                }
            }
            #message_form {
                flex-grow: 12;
                border-radius: 20px;
                position: relative;
                #starLevel{
                    width: 20%;
                }
                .sbtn{
                    display: none;
                }
                .oneStar,.twoStar,.threeStar,.fourStar,.fiveStar{
                    background-color: #fff;
                    top:10%;
                    width: 20px;
                    height:20px;
                    border-radius:20px;
                    cursor: pointer;
                    position: absolute;
                    opacity: 0;
                }
                .oneStar{
                    left: 0.5%;
                }
                .twoStar{
                    left: 4.6%;
                }
                .threeStar{
                    left: 8.7%;
                }
                .fourStar{
                    left: 12.8%;
                }
                .fiveStar{
                    left: 16.9%;
                }
                #message_table{
                    display: flex;
                    justify-content: center;
                    td{
                        display: flex;
                    }
                    #equ_message {
                        background-color: #fff;
                        height: 15vh;
                        width: 500px;
                        font-family: 'Noto Sans TC', sans-serif;
                        padding: 10px;
                        border-radius: 15px;
                    }
                    #butsave{
                        margin: auto;
                        @include btn();
                        font-family: 'Noto Sans TC', sans-serif;
                    }
                }
            }
        }
    }
}