// *{
//     outline: solid 1px #f00;
// }
//共用
// 麵包屑
.item_bread_crumbs{
    display: flex;
    padding: 10px 0;
    li{
        a{
            display: inline-block;
            margin: 0 10px;
            @include fontcolor( font_base );
        }
        &::after{
            content: ">";
            display: inline-block;
        }
    }
    li:last-child{
        &::after{
            display: none;
        }
    }
}
// 右半部商品資訊
.item_intro_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .item_intro_title{
        padding: 20px 0 30px;
        font-weight: map-get( $fonts_weight_map , lv2 );
        color: map-get( $colors_map , font_base );
    }
    .item_intro_box{
        display: flex;
        .intro_box_title{    
            padding: 10px;
            line-height: map-get( $line_height_map , p );
        }
        .intro_box_text,.item_price,.item_lave{
            padding: 10px;
            line-height: map-get( $line_height_map , p );
        }
        // .intro_box_text{
        //     line-height: map-get( $line_height_map , p );
        // }
    }
    .item_intro_totalprice{
        text-align: right;
        padding: 20px;
        .intro_totalprice{
            color: #c00;
        }
    }
}
// 下半部按鈕
.item_btn_box{
    // padding: 30px 0 50px;
    display: flex;
    justify-content: center;
    .inline_block{
        margin: 0 20px;
        display: inline-block;
    }
}
.h26{
    height: 26px;
  }
// 下半部推薦商品
// .item_recom_section{
//     .item_recom_wrap{
//         display: flex;
//         justify-content: space-around;
//         @at-root
//         .item_recom_box{
//             .item_recom_name{
//                 margin: 5px 0;
//                 text-align: center;
//             }
            
//             span{
//                 margin: 5px 0;
//                 display: block;
//             }
//         }
//     }
// }
.owl-item{
    display: inline-block;
}





@include rwd(desktop){
    .item_page{
        .container_mb{
            margin: 0 auto 30px;
        }
    }
    // 麵包屑
    // .item_bread_crumbs{
    //     li{
    //         a{
    //             font-size: 18px;
    //         }
    //         &::after{
    //             font-size: 18px;
    //         }
    //     }
    // }
    .item_bg_img{
        z-index: -1;
        position: absolute;
        top: -30px;
        width: 1200px;
        height: 700px;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .wheel{
        // position: relative;
        width: 68%;
        margin: auto;
        .wheel_wrap{
            display: flex;
            justify-content: space-between;
            @keyframes roll{
            0%{transform: rotate(0deg);}
            100%{transform: rotate(360deg);}
            }
            img{
                position: relative;
                animation:roll 5s linear infinite;
            }
        }
        .shadow{
            position: relative;
            top: -60px;
            height: 100px;
            width: 100%;
            background-color: rgba(136, 99, 73, 0.703);
            border-radius: 50%;
            z-index: -1;
            filter: blur(5px)
        }
    }
    
    .item_intro_section{
        // border: 1px solid #f00;
        // background: rgba(255, 255, 255, 0.6);
        position: relative;
        padding:20px 0 ;
        justify-content: center;
        display: flex;
    }
    // 左半部商品圖片
    .item_intro_wrap{
        width: 45%;
        margin: 0 20px;
        .item_intro_img{
            width: 80%;
            margin: 0 auto;
            border-radius: 30px;
            img{
                width: 100%;
                vertical-align: top;
            }
        }
    }
    // 右半部商品資訊
    .item_intro_wrap{
        .item_intro_title{
            font-size: 30px;
        }
        .item_intro_box{
            margin: 5px 0;
            .intro_box_title{
                width: 10%;
                font-size: 20px;    
            }
            .intro_box_text,.item_price,.item_lave{
                font-size: 20px;
                width: 90%;
            }
        }
        .item_intro_totalprice{
            margin: 0 50px 0 0;
            font-size: 28px;
            padding: 10px;
        }
    }
    

    // 下半部推薦商品
    .item_recom_section{
        .item_recom_wrap{
            @at-root
            .item_recom_box{
                width: 200px;
            }
        }
    }
    .card_bg .sort_same_item_img img{
        display: block;
        margin: 5% auto;
        width: 80%;
    }


}



@include rwd(phone){
    .item_intro_wrap{
        width: 90%;
    }
    // 右半部商品資訊
    .item_intro_wrap{
        .item_intro_title{
            font-size: 22px;
        }
        .item_intro_box{
            margin: 5px 0;
            .intro_box_title{
                width: 20%;
                font-size: 18px;
            }
            .intro_box_text,.item_price,.item_lave{
                font-size: 16px;
                width: 80%;
            }
        }
        .item_intro_totalprice{
            margin: 5px 0;
            font-size: 22px;
        }
    }

    // 下半部推薦商品
    .item_recom_section{
        .item_recom_wrap{
            flex-wrap: wrap;
            @at-root
            .item_recom_box{
                width: 40%;
            }
        }
    }
    .item_intro_img{
        width: 90%;
        margin: 0 auto;
        img{
            width: 100%;
            vertical-align: middle;
        }
    }

    
}
