.text_align_c{
    text-align: center;
}
.sort_same_item_title{
    line-height: 1.8;
    font-size: 22px;
}
.sort_same_item_price{
    padding-bottom: 15px;
    font-size: 18px;
}
// .sort_same{
//     .owl-nav{
//         z-index: -1;
//         display: flex;
//         justify-content: space-between;
//         position: absolute;
//         width: 110%;
//         left: -5%;
//         bottom: 40%;
//         @include rwd(phone){
//             width: 120%;
//             left: -10%;
//         }
//     }
//     span{
//         color: #81A13E;
//         display: inline-block;
//         vertical-align: top;
//         font-size: 70px;
//         padding-bottom:70%; 
//         &:hover{
//             background-color: #81A13E;
//             color: #FFF;
//         }
//     }
// }



@include rwd(desktop){
    .shop-tab-inner{
        .next,.prev{
            display: none;
        }
    }
    .m-b{
        margin:  10px auto;
    }
    .text_align_c{
        text-align: center;
    }
    .fi_dr_sh{
        filter: drop-shadow(2px 2px 1px #5e371d9f);
    }
    .card_bg{
        position: relative;
        
        margin: 50px auto;   //私加
        height: 410px;
        width: 221px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        // margin-bottom: 50px;
        .gray_linear_gradient{
        background-image: linear-gradient(#fff 60%, #ddd 110%);
        border-radius: 10px;
        width: 88%;
        height: 75%;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 16%;
        left:6%;
        }
    }
    .card_bg1{
        background-image: url("../images/product/cactus.png");
    }
    .card_bg2{
        background-image: url("../images/product/dinosaur.png");
    }
    .card_bg3{
        background-image: url("../images/product/eagle.png");
    }
    .card_bg4{
        background-image: url("../images/product/horse.png");
    }
    // .active{
    //     height: 500px;
    // }
    
    .hoverObj_img img{
        z-index: 2;
        position: absolute;
        width: 130%;
        height: 50%;
        // height: 260px;
        right: -15%;
        top:-10%;
        transform: scale(0.9);
        transition: .2s;
        opacity: 0;
    }
    .hoverObj:hover .hoverObj_img img{
        z-index: 2;
        position: absolute;
        width: 130%;
        height: 50%;
        // height: 260px;
        right: -15%;
        top:-10%;
        transform: scale(1);
        transition: .2s;
        opacity: 1;
    }
    
    .filter{
        width: 20%;
    }
    .filter_content{
        width: 80%;
        border-radius: 20px;
        // box-shadow: 8px 8px 5px #592F13;
        padding: 15px 15px 15px 15px;
        background: #f09100  ;
        z-index: 1;
    }
    .filter_inside{
        margin: auto;
        border-radius: 20px;
        padding: 15px 15px 25px 15px;
        background: #F6EED4 ;
       .header_clear{
        font-size: 22px;
        font-weight: 600;
        }
    }
    .dis_ib{
        display: inline-block;
    }
    .filter_sort_item{
        padding: 2px 0;
        span:before {
            content: url("../images/product/checkbox.png");
            width: 2em;
            display: inline-block;
            vertical-align: middle;
        }
        input[type="checkbox"]:checked + span:before {
            content: url("../images/product/checkbox_checked.png");
        }
    }
    .checkbox_text span:before {
        width: 2em;
        display: inline-block;
        vertical-align: middle;
    }
    .pad10{
        padding: 10px 0;
    }
    .pad_5_0_10{
        padding: 5px 0 20px;
    }
    .range_wrap {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 40px;
    }
    .select_checkbox {
        display: none;
        opacity: 0;
    } 
    .range {
        width: 130px;
        height: 10px;
        border-radius: 4px;
        background-color: #ddd;
        
    }
    .range_stretch {
        position: absolute;
        height: 5px;
        margin-top: 3px;
        background-color: #f09100;
    }
    .circle_button1{
        transform: translateY(-50%);
    }
    .circle_button2{
        transform: translateY(-50%);
    }
    .circle_button{
        position: absolute;
        top: 5px;
        width: 20px;
        height: 20px;
        cursor: move;
        border: none;
        border-radius: 50%;
        background-color: #f09100;
    }
    .selectors{
        margin-top: 25px;
        width: 30px;
    }
    .filter_sort span:first-child{
        display: inline-block;
        margin: 20px 0 10px;
        font-size: 20px;
    }
    .all_product{
        display: flex;
        justify-content: center;
    }
    .all_sort_same{
        width: 80%;
    }
    .sort_same{
        display: flex;
        justify-content: space-evenly;
    }
    .sort_same_item_img img{
        margin: 5% auto;
        width: 80%;
    }
    .dis_lg_n {
        display: none;
    }
}



@include rwd(phone){
    .shop-tab-inner{
        position: relative;
        .next,.prev{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
        }
        .next{
            right: 0;
        }
        .prev{
            left: 0;
        }
    }
    .dis_n {
        display: none;
    }
    .dis_f_w{
        display: flex;
        flex-wrap: wrap;
    }
    .all_product{
        position: relative;
    }
    .order_by_search{
        padding-top: 30px;
        text-align: center;
    }
    .filter {
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 80%;
        max-width: 500px;
        margin: auto;
        border: 2px solid #592F13;
        border-radius: 20px;
        padding: 15px;
        background-color: #F6EED4;
        z-index: 2;
    }
    .filter:before {
        content: "";
        position: absolute;
        top: -22px;
        right: 0;
        bottom: auto;
        left: 0;
        margin: auto;
        margin: auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 12px 22px 12px;
        border-color: transparent transparent #592F13 transparent;
    }
    .filter:after {
        content: "";
        position: absolute;
        top: -19px;
        right: 0;
        bottom: auto;
        left: 0;
        margin: auto;
        margin: auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent #F6EED4 transparent;
    }
    .filter_price{
        width: 95%;
        margin: auto;
    }
    .filter_lists{
        width: 30%;
        margin: 5px auto;
    }
    // .filter{
    //     display: none;
    // }
    .pt350{
        padding-top: 200px;
    }
    .card_bg{
        margin: 50px auto;
        // filter: drop-shadow(3px 3px 3px #592f13);
        // height: 410px;
        height: 500px;
        // width: 221px;
        width: 70%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        margin-bottom: 50px;
        .gray_linear_gradient{
        background-image: linear-gradient(#fff 60%, #ddd 110%);
        border-radius: 10px;
        width: 88%;
        height: 75%
        ;box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 55%;
        left:6%;
        }
    }
    .gray_linear_gradient{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .card_bg1{
        background-image: url("../images/product/cactus.png");
    }
    .card_bg2{
        background-image: url("../images/product/dinosaur.png");
    }
    .card_bg3{
        background-image: url("../images/product/eagle.png");
    }
    .card_bg4{
        background-image: url("../images/product/horse.png");
    }
//    .owl-stage-outer{
//         position: relative;
//         &::after,&::before{
//             position: absolute;
//             font-size: 32px;
//             color: #f00;
//             display: block;
//         }
//         &::after{
//             content: "<";
//             top: 50%;
//             left: 20px;
//         }
//         &::before{
//             content: ">";
//             top: 50%;
//             right: 20px;
//         }
//     }
    
}
