
//////////////會員中心選單 ///////////////////      
// //////////////////////////////////////////

.account {
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    .infowrap {
        display: flex;
        flex-direction: column;
        justify-content: center; //置中
        /////////////////////////////
        width: 90%;
        margin: auto;
        // padding-top: 10px;
        .menulist {
            //選單部分
            width: 100%;
            padding: 0 1px;
            margin: auto;
            // background-color: #9dba65;
            // border-top-left-radius: 10px;
            // border-top-right-radius: 10px;
            .mymenu {
                box-sizing: border-box;
                // padding: 10px 0px;
                justify-content: center;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                // border-top-style: dashed;
                // border-bottom-style: dashed;               
                li {
                    width:25%;
                    text-align: center;
                    list-style: none;
                    padding: 5px 0;
                    position: relative;
                }
                a {
                    cursor: pointer;                
                    text-decoration: none;
                    align-items: center;
                    box-sizing: border-box;
                    color: #9dba65;
                    font-size: 20px;
                    line-height: 2rem;
                    font-family: "Noto Sans TC", sans-serif;
                    &::after{
                        content:"";
                        width:60%;
                        background-image: url("../images/member/papa.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: absolute;
                        top:0px;
                        left:0%;
                        bottom:0%;
                        right: 120px;
                        display: none;
                    }
                    &:hover {
                        text-decoration: underline;
                        color:#f09100;
                        text-shadow: 15px 5px 5px rgb(253, 253, 255) ;
                        // text-shadow: rgb(213, 213, 230) 0px 1px 0px;
                        // &::after{
                        //     display: block;
                        // }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .account {
        .infowrap {
            max-width: 700px;
            .menulist{
                li{
                    width:23%; 
                }
            a{
                &:hover{
                    &::after{
                        display: block;
                    }
                }
            }    
            }
            .info_content {
                // width: 70%;
                text-align: center;
            }
        }
    }
}


//////////////////////////
//     個人資訊         //
//////////////////////////
.info_content {
    // 個人資訊部分 
    // box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 5px #888888;
    width: 100%;  
    display: block;
    background-color: #fff;
    border: 10px solid #9dba65;
    // border-radius: 2%;
    // border-style:ridge;
    text-align: left;
    // &::before{//暫時
    //     width: 40%;
    //     height: 50%;
    //     background-color: #555;
    //     opacity: .5;
    //     z-index:-1;
    //     position: absolute; 
    //     top:83%; 
    //     bottom:0px; 
    //     left:38%;
    //     content:"";
    //     box-shadow:0 15px 10px rgba(0, 0, 0, 0.5);                                      
    //     transform: rotate(3deg);                              
    // }
    // &::after{
    //     width:30%;
    //     height:50%;
    //     left:46%;
    //     top:85%;
    //     box-shadow:0px 15px 0px rgba(0, 0, 0, 0.5); 
    //     transform: rotate(3deg);
    //     background-color: #111;
    //     z-index:-1;
    //     position: absolute;
    //     content:"";
    // }
    h3 {
        background-color: #9dba65;
        border-color: #fff8e4;
        color: #fff;
        width: 45%;
        padding: 5px 0;
        font-family: "Noto Sans TC", sans-serif;
        border-radius: 10px;
        font-size: 18px;
        margin-top: 20px;
    }
    .content_item {
        display: flex;
        padding: 10px;
        align-items: center;
        span {
            width: 30%;
            margin-top: 8px;
            text-align: left;
            display: block;
            padding-right: 20px;
            font-size: 14px;
        }
        .member_span {
            text-align:center;
        }
        .memid {
            padding-left: 30px;
        }
        .memdoller{
            padding-left: 30px;
        }
        input {
            width: 40%;
            line-height: 2;
            margin: 0px auto 0px auto;
            font-family: "Noto Sans TC", sans-serif;
            line-height: normal;
            padding: 5px;
        }
    }
    .but_item {
        // text-align: right;
        margin: auto;
        // a{
        //     position: relative;
        //     top: 0%;
        //     right: -60%;
        #dit_button{
                //修改資料 按鈕
                //Button在css的長寬：130x30px,font-size:14p
            border: 1px solid #9dba65;
            width: 130px;
            height: 30px;
            font-size: 14p;
            display: block;
            margin: auto;
            text-align: center;
            }
        // }
        
    }
}
@media screen and (min-width: 768px) {
    .info_content{
        .content_item{
            .memid{
                padding-left:90px;
            }
            .memdoller{
                padding-left:90px;
            }
        }
    }
}


////////////////////////////////
//     訂單部分               //
///////////////////////////////

.order_content {
    // background-image: url("../images/member/p0029_m.png");
    // background-size:cover;
    // background-repeat: no-repeat;
    width: 100%;
    display: block;
    padding-bottom: 63%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    // border: 1px solid #9dba65;
    background-color: #fff;
    border: 5px solid #9dba65;
    box-shadow: 10px 10px 5px #888888;
    // height: 70%;
    h3 {
        padding: 20px 0;
    }
    .order_item {
        width: 90%;
        margin: auto;
        border: 1px solid #9dba65;
        border-radius: 5px;
        table {
            border-collapse: collapse;
            width: 100%;
            height: 50%;
            tr {
                font-family: "Noto Sans TC", sans-serif;
                line-height: normal;
                font-size: 14px;
            }
        }
    }
}
////////////////////////////
//   購票                 //
////////////////////////////
.ticket_content {
    width: 100%;
    display: block;  
    background-color: #fff;
    box-shadow: 10px 10px 5px #888888;
    padding-bottom: 68%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 5px solid #9dba65;
    h3 {
        padding: 20px 0;
    }
    .ticket_item {
        // width: 90%;
        margin: auto;
        border: 2px solid #9dba65;
        // border-radius: 5px;

        width: 150px;
        font-size: 18px;
        line-height: 30px;
        padding: 20px;
        // border: 2px solid #002552;
        border-radius: 25px;
        background-color: #EBDCC2;
        margin-top: 25px;
        margin-bottom: 25px;
            P{
                color: #9dba65;
                font-family: "Noto Sans TC", sans-serif;
            }
        // table {
        //     border-collapse: collapse;
        //     width: 100%;
        //     height: 50%;
        //     tr {
        //         font-family: "Noto Sans TC", sans-serif;
        //         line-height: normal;
        //         font-size: 14px;
        //     }
        // }
    }
}
////////////////////////////
//       組隊紀錄        ///
///////////////////////////
.team_content{
    width: 100%;
    display: block;
    background-color: #fff;
    box-shadow: 10px 10px 5px #888888;
    padding-bottom: 60%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    border: 5px solid #9dba65;
    .team_list{
        h3 {
            padding: 20px 0;
        }
        .team_item{
            width: 90%;
            margin: auto;
            border: 1px solid #9dba65;
            border-radius: 5px;
            margin-bottom:10px; 
            table{
                border-collapse: collapse;
                width: 100%;
                height: 50%;
                tr {
                    font-family: "Noto Sans TC", sans-serif;
                    line-height: normal;
                    font-size: 14px;
                    }
                }
            }
        }
    }
////////////////////////////////////////
//              評分/留言              /
///////////////////////////////////////
.evaluation_content {
    width: 100%;
    display: block;
    background-color: #fff;
    box-shadow: 10px 10px 5px #888888;
    padding-bottom: 40%;
    border: 5px solid #9dba65;      
    h3{
        padding-top:20px; 
    }
    .score_item {
        width: 80%;
        margin: 20px auto;
        border: 1px solid #9dba65;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
    }
    .message_item {
        width: 80%;
        display: flex;
        flex-flow: row wrap;
        margin: auto;
        .message_pot {
            border: 1px solid #9dba65;
            border-radius: 10px;
            margin: 20px 0px;
            .equ_historypic {
                padding: 10px 0;
            }
            .equ_message {
                p {
                    text-align: left;
                    line-height: 1.5rem;
                }
            }
            span {
                margin-right: 10px;
            }
        }
    }
}
