// display: none;
///////////////////
//  會員登錄     //
//////////////////

//////////////////////////////////////////////////
#lightBox {
    //燈箱
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    bottom: 0px;
    top:0px;
    z-index: 999;
    background: rgba(66, 66, 66, 0.6);
    #loginTable {
        //登入區
        background-image: url("../images/member/logincus.png");
        background-size: cover;
        background-position: top 5px right 0px;
        background-repeat: no-repeat;
        position: relative;
        top: 25%;
        max-width: 300px;
        width: 70%;
        height: 330px;
        margin: 0 auto;
        border-radius: 10px;
        text-align: center;
        background-color: rgba(255, 195, 83, 0.966);
        .login_box {
            //文字大區

            .login_cancel {
                //刪除鈕
                overflow: hidden;
                width: 30px;
                height: 30px;
                border-radius:50%;
                // background-color:#fff;
                position: absolute;
                top:0;
                right:0;
                // img{
                //     width: 30px;
                //     height: 30px;
                // }

                // &:hover{
                //     transform: scale(1.1);
                //     transition:all 350ms ease;
                // }
                &:active{
                    // background-color: #3e8e41;
                    box-shadow: 0 5px #666;
                    transform: translateY(4px);
                    transition:all 350ms ease;
                }
            }
            
            #mem_id{
                //帳號
                width: 50%;
                margin: 10% 0 0% 0;
                padding-left: 10px;
                border-radius: 10px;
                line-height: 25px;
            }
            #mem_psw {
                //密碼
                width: 50%;
                margin: 10% 0 0% 0;
                padding-left: 10px;
                border-radius: 10px;
                line-height: 25px;
            }
            .login_forget {
                // 忘記密碼
                font-size: 12px;
                display: block;
                padding-left: 38%;
                &:hover{
                    color:rgba(255, 195, 83, 0.966); 
                }
            }
            h3 { //會員登入字體
                line-height: 40px;
                margin: 5% 0;
                font-size:36px;
                padding: 4%;
                color: rgb(255, 255, 255);
                font-size: 36px;
                text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px, rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.15) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.1) 0px 20px 20px;

            }
            .btn{
                padding: 0 5%;
                
            }
            //  立即註冊區
            .smalltext {
                width: 65%;
                margin: 1% 0 0 5%;
                span {
                    //還不是會員
                    color: #5a7529;
                    font-size: 12px;
                    margin-right: 5%;
                }
                #register {
                    color: #999;
                    font-size: 12px;
                    text-decoration-line: underline;
                    &:hover{
                        color:rgba(255, 195, 83, 0.966); 
                    }
                }
            }
            //快速註冊
            .fasttext {
                margin: 1% 0 0 50%;
                #register_fast {
                    color: #fff;
                    font-size: 12px;
                    text-decoration-line: none;
                    background-color: #5a7529;
                    display: inline-block;
                    width: 60px;
                    line-height: 20px;
                    &:hover{
                        background-color:rgba(255, 195, 83, 0.966);                        
                    }
                }
            }
        }
    }
}
//====會員註冊====//
#register_lightbox {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(66, 66, 66, 0.6);
    top: 0;
    bottom: 0;
    z-index: 11;
    // background-image: url("")
    .registerTable {
        //註冊區
        position: relative;
        top: 15%;
        max-width: 350px;
        width: 75%;
        height: 480px;
        border-radius: 10px;
        text-align: center;
        margin: 0 auto;
        background-image: url("../images/member/logincus.png");
        background-size: cover;
        // background-position: top 10px right 0px;
        background-position: top  center;
        background-repeat: no-repeat;
        background-color: rgba(255, 195, 83, 0.966);
        .login_cancel {
            //刪除鈕
            width: 30px;
            height: 30px;
            overflow: hidden;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 50%;
            &:active{
                box-shadow: 0 5px #666;
                transform: translateY(4px);
                transition:all 350ms ease;
            }
        }
        h3 {
            line-height: 40px;
            font-size:36px;
            padding: 4%;
            color: rgb(255, 255, 255);
            margin: 5% 0 ;
            font-size: 36px;
            text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px, rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.15) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.1) 0px 20px 20px;

        }
        span { //文字標題
            display: inline-block;
            width: 35%;
            margin-top: 8px;
            text-align: left;
        }
        input {
            // width: 50%;
            margin: 3% 0;
            line-height: 24px;
        }
        #password_question { //提示問題
            padding:1.9% 4.8%;
        }
        .btn {
            //按鈕
            margin-left:25px; 
            padding:0 5% 2% 5%; 
        }
    }
}


//////////////////////會員重新申請密碼/////////////////


#password_lightbox {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0%;
    bottom: 0%;
    background: rgba(66, 66, 66, 0.6);
    z-index: 11;
    //隱藏
    display: none;
    .passwordTable {
        //重設密碼區
        background-image: url("../images/member/logincus.png");
        background-color: rgba(255, 195, 83, 0.966);
        background-size: cover;
        background-position: top 5px right 0px;
        background-repeat: no-repeat;
        position: relative;
        top: 25%;
        width: 70%;
        max-width: 350px;
        height: 400px;
        margin: 0 auto;
        border-radius: 10px;
        text-align: center;
        .password_box {
            margin: auto;

            .login_cancel {
                //刪除鈕
                width: 30px;
                height: 30px;
                overflow: hidden;
                position: absolute;
                top: 0;
                right: 0;
                border-radius:50%;
                // background-color:#fff; 
                // &:hover{
                //     transform: scale(1.1);
                //     transition:all 350ms ease;
                // }
                &:active{
                    // background-color: #3e8e41;
                    box-shadow: 0 5px #666;
                    transform: translateY(4px);
                    transition:all 350ms ease;
                }

            }
            h3 { //--標題--
                line-height: 40px;
                font-size:36px;
                padding: 4%;
                padding-bottom:37px;
                color: rgb(255, 255, 255);
                // margin: 10% 0 ;
                font-size: 36px;
                // margin-top: 20px;
                text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px, rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.15) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.1) 0px 20px 20px;
            }
            span {
                display: inline-block;
                width: 30%;
                margin-top: 2px;
                text-align: left;
            }
            input {
                padding: 2% 0;
                width: 45%;
                margin: 5% 0 0% 0;
                padding-left: 10px;
                border-radius: 10px;
                // line-height: 20px;
            }
            .repassword_question {
                padding: 2% 0;
                width: 50%;
                margin: 5% 0 0% 0;
                padding-left: 10px;
                border-radius: 10px;
            }
            #re_mempsw{
                margin-bottom: 10px;
            }
            .btn {
                //按鈕
                margin-left:25px; 
                padding:0% 5% 2% 5%;
                
            }
        }
    }
}
