
//////////////會員中心選單 ///////////////////      
// //////////////////////////////////////////
.account {
    margin: auto;
    margin-bottom: 20%;
    text-align: center;
    // margin-bottom: 30px;
    // margin-right: 20px;
    .infowrap {
        display: flex;
        flex-direction: column;
        justify-content: center; //置中
        ///////////////////////////
        width:90%;
        margin:auto;
        // padding-top: 10px;
        .menulist {
            //選單部分
            width: 100%;
            // padding: 0 1px;
            margin: auto;
            .mymenu {
                box-sizing: border-box;
                // padding: 10px 0px;
                padding-bottom: 20px;
                justify-content: center;
                width: 100%;
                display: flex;
                flex-wrap: wrap;             
                li {
                    width:30%;
                    text-align: center;
                    list-style: none;
                    padding: 5px 0;
                    position: relative;
                }
                a {
                    cursor: pointer;                
                    text-decoration: none;
                    align-items: center;
                    box-sizing: border-box;
                    // color: #9dba65;
                    color: #5A7529;
                    font-size: 20px;
                    line-height: 2rem;
                    font-family: "Noto Sans TC", sans-serif;
                    &::after{
                        content:"";
                        width:60%;
                        background-image: url("../images/member/papa.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: absolute;
                        top:0px;
                        left:0%;
                        bottom:0%;
                        right: 120px;
                        display: none;
                    }
                    &:hover {
                        text-decoration: underline;
                        color:#f09100;
                        // text-shadow: 15px 5px 5px rgb(253, 253, 255) ;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .account {
        .infowrap {
            max-width: 700px;
            .menulist{
                li{
                    width:23%; 
                }
            a{
                &:hover{
                    &::after{
                        display: block;
                    }
                }
            }    
            }
            .info_content {
                // width: 70%;
                text-align: center;
            }
        }
    }
}


//////////////////////////
//     個人資訊         //
//////////////////////////
$green:#9dba65;
$orange: #f09100;
.info_content {
    // 個人資訊部分 
    width: 100%;  
    display: block;
    background-color: #fff;
    position: relative;
    text-align: left;
   //-------------------------------------//
    border-radius: 3px;
    div:after { // Postcard border
        content: '';
        background: repeating-linear-gradient(
        45deg,$green,$green 10px,#fff 10px,#fff 20px,
        $orange 20px,
        $orange 30px,#fff 30px,#fff 40px
        );
        // For wider stripes, I'd use an image to orangeuce jagged edges
        padding: 20px;
        border-radius: 6px;
        box-shadow: 1px 2px 6px 1px rgba(76, 66, 47, 0.75);
        width: calc(100% - 24px);
        height: calc(100% - 24px);
        position: absolute;
        top: -8px;
        left: -8px;
        z-index: -1;
      }   
    // &::before{//暫時
    //     width: 20%;
    //     height: 20%;
    //     // background-color: #555;
    //     // opacity: .5;
    //     z-index:-1;
    //     position: absolute; 
    //     top:49%; 
    //     bottom:0px; 
    //     left:67%;
    //     content:"";
    //     // box-shadow:0 15px 10px rgba(0, 0, 0, 0.5);                                      
    //     transform: rotate(10deg);
    //     background-image: url("../images/member/fat.png");
    //     background-size:contain;
    //     background-repeat: no-repeat;                               
    // }
    h3 {
        background-color: #9dba65;
        border-color: #fff8e4;
        color: #fff;
        width: 35%;
        padding: 5px 0;
        padding-left: 2%;
        margin-left:2%; 
        font-family: "Noto Sans TC", sans-serif;
        border-radius: 10px;
        font-size: 20px;
        margin-top: 20px;
        text-align: left;
    }
    .content_item {
        display: flex;
        padding: 10px;
        align-items: center;
        span {
            width: 30%;
            margin-top: 8px;
            text-align: center;
            display: block;
            padding-right: 20px;
            font-size: 18px;
        } 
        .member_span {
            text-align:center;
        }
        input {
            width: 40%;
            line-height: 2;
            margin: 0px auto 0px auto;
            font-family: "Noto Sans TC", sans-serif;
            line-height: normal;
            padding: 5px;
            &:focus{
                border: 2px solid #f09100 ;
                border-style: dashed;
            }
        }
        //購物金
        #member_money{
            font-family: "Noto Sans TC", sans-serif;
            font-size: 14px;
            text-align: left;
            // padding-left: 30px;
        }
        //會員ID
        #memid{
            font-family: "Noto Sans TC", sans-serif;
            font-size: 14px;
            text-align: left;
            // padding-left: 10px;
        }
    }
    //修改資料
    .but_item {
        // text-align: right;
        margin: auto;
        margin-top: 10px;
        // a{
        //     position: relative;
        //     top: 0%;
        //     right: -60%;
        #dit_button{
                //修改資料 按鈕
                //Button在css的長寬：130x30px,font-size:14p
            border: 1px solid #9dba65;
            width: 130px;
            height: 30px;
            font-size: 14p;
            display: block;
            margin: auto;
            text-align: center;
            }
        // }
        
    }
}
@media screen and (min-width: 768px) {
    .info_content{
        // &::before{//暫時
        //     width: 20%;
        //     height: 20%;
        //     position: absolute; 
        //     top:55%; 
        //     bottom:0px; 
        //     left:85%;                                  
        //     transform: rotate(10deg);                              
        // }
        .content_item{
            .memid{
                padding-left:90px;
            }
            .memdoller{
                padding-left:90px;
            }
        }
    }
}
@media screen and (max-width: 767px){
    //會員ID
    #memid{
        padding-left: 30px;
    }
    //購物金
    #member_money{
        padding-left: 30px;
    }

}
// @media screen and (min-width: 1200px){
//     .info_content{
//         &::before{//暫時
//             width: 20%;
//             height: 20%;
//             position: absolute; 
//             top:49%; 
//             bottom:0px; 
//             left:80%;                                  
//             transform: rotate(10deg);                              
//         }
//     }

// }

////////////////////////////////
//     訂單部分               //
///////////////////////////////

.order_content {
    width: 100%;
    display: block;  
    background-color: #fff;
    // box-shadow: 10px 10px 5px #888888;
    padding-bottom: 20%;
    // border: 5px solid #9dba65;
    position: relative;
    // text-align: left;
   //-------------------------------------//
    border-radius: 3px;
    div:after { // Postcard border
        content: '';
        background: repeating-linear-gradient(
        45deg,
        $green,
        $green 10px, #fff 10px,#fff 20px,
        $orange 20px,
        $orange 30px,#fff 30px,#fff 40px
        );
        // For wider stripes, I'd use an image to orangeuce jagged edges
        padding: 20px;
        border-radius: 6px;
        box-shadow: 1px 2px 6px 1px rgba(76, 66, 47, 0.75);
        width: calc(100% - 24px);
        height: calc(100% - 24px);
        position: absolute;
        top: -8px;
        left: -8px;
        z-index: -1;
    }   
    h3 {
    
        padding: 20px 0;
        font-size: 20px;
        line-height: 2rem;
    }
    .order_item {
        width: 90%;
        margin: auto;
        background: #9dba65;
        border-radius: 5px;
        padding: 10px;
       
        table {
             padding: 10px;
            border-collapse: collapse;
            width: 100%;
            height: 50%;
            tr {
                font-family: "Noto Sans TC", sans-serif;
                line-height: normal;
                font-size: 14px;
            }
            title{
                 padding: 8px 0 2px;
            }
        }
    }
}
//////////////////////////////
//          購票            //
/////////////////////////////
.ticket_content {
    width: 100%;
    display: block;  
    background-color: #fff;
    // box-shadow: 10px 10px 5px #888888;
    padding-bottom: 20%;
    // border: 5px solid #9dba65;
    position: relative;
    // text-align: left;
   //-------------------------------------//
    border-radius: 3px;
    div:after { // Postcard border
        content: '';
        background: repeating-linear-gradient(
        45deg,
        $green,
        $green 10px, #fff 10px,#fff 20px,
        $orange 20px,
        $orange 30px,#fff 30px,#fff 40px
        );
        // For wider stripes, I'd use an image to orangeuce jagged edges
        padding: 20px;
        border-radius: 6px;
        box-shadow: 1px 2px 6px 1px rgba(76, 66, 47, 0.75);
        width: calc(100% - 24px);
        height: calc(100% - 24px);
        position: absolute;
        top: -8px;
        left: -8px;
        z-index: -1;
    }   
    h3 {
        padding: 20px 0;
        font-size: 20px;
        line-height: 2rem;
        margin: auto;
        position: relative;
        // &::before{
        //     background-image: url("../images/member/headd.png");
        //     background-size:contain;
        //     background-repeat: no-repeat;
        //     width: 30%;
        //     position: absolute;
        //     top:10px;
        //     right: 20px;
        //     content: "123";
        // }
    }
    .ticket_item {
        // width: 90%;
        margin: auto;
        border: 3px solid #9dba65;
        width: 150px;
        font-size: 18px;
        line-height: 30px;
        padding: 20px;
        border-radius: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
            P{
                color: #668823;
                font-family: "Noto Sans TC", sans-serif;
                text-align: left;
                .ticket_no{
                    color: #f09100;
                    }
                .entrance_status{
                    color: #f09100;
                    }
            }
            
        // table {
        //     border-collapse: collapse;
        //     width: 100%;
        //     height: 50%;
        //     tr {
        //         font-family: "Noto Sans TC", sans-serif;
        //         line-height: normal;
        //         font-size: 14px;
        //     }
        // }
    }
}

@media screen and (min-width: 768px) {
  
    // .ticket_list{
    //     text-align: left;
    // }
    .ticket_item{
        display: inline-block;
    }

}
////////////////////////////
//       組隊紀錄        ///
///////////////////////////
$green:#9dba65;
$orange: #f09100;
.team_content{
    width: 100%;
    display: block;
    background-color: #fff;
    padding-bottom: 20%;
    margin-bottom: 6px;
   //-------------------------------------//
    position: relative;
    border-radius: 3px;
    div:after { // Postcard border
        content: '';
        background: repeating-linear-gradient(
        45deg,
        $green,
        $green 10px,
        #fff 10px,
        #fff 20px,
        $orange 20px,
        $orange 30px,
        #fff 30px,
        #fff 40px
        );
        // For wider stripes, I'd use an image to orangeuce jagged edges
        padding: 20px;
        border-radius: 6px;
        box-shadow: 1px 2px 6px 1px rgba(76, 66, 47, 0.75);
        width: calc(100% - 24px);
        height: calc(100% - 24px);
        position: absolute;
        top: -8px;
        left: -8px;
        z-index: -1;
      }   
    .team_list{
        
        h3 {
            padding: 20px 0;
            line-height: 2rem;
            font-size: 20px;
        }
        .team_item{
            width: 100%;
            margin: auto;
            // border: 1px solid #9dba65;       
            margin-bottom:10px; 
            table{
                border-collapse: collapse;
                width: 100%;
                height: 50%;
                text-align: center;
                border-collapse: collapse;
                .team_head{
                    width: 22%;
                    line-height: 3;
                    color: #fff8e4;
                    font-size: 16px;
                    // border: 2px solid #9dba65;
                    // border-radius: 5%;
                    background-color: #668823;              
                }
                .team_body{
                    // width: 20%;
                    line-height: 3;
                    color: #92b846;
                    font-size: 16px;
                    // border: 2px solid #9dba65;
                    // border-radius: 5%;
                    // background-color: #EBDCC2;              
                }
                tr {
                    font-family: "Noto Sans TC", sans-serif;
                    // width: 23%;
                    // line-height: 2rem;
                    // font-size: 14px;
                    // width: 20%;
                    td{
                        text-align: center;
                        // border: 2px solid #9dba65;
                        width: 23%;
                        // width: 420px;
                        // width: 70px;
                    }
                    }
                }
            }
        }
    }
  
////////////////////////////////////////
//              評分/留言              /
////////////////////////////////////////
$green:#9dba65;
$orange: #f09100;
.evaluation_content {
    // width: 100%;
    // display: block;
    // background-color: #fff;
    // box-shadow: 10px 10px 5px #888888;
    padding-bottom: 20%;
    // border: 5px solid #9dba65;
    width: 100%;  
    display: block;
    background-color: #fff;
    position: relative;
    // text-align: left;
   //-------------------------------------//
    border-radius: 3px;
    div:after { // Postcard border
        content: '';
        background: repeating-linear-gradient(
        45deg,
        $green,
        $green 10px,
        #fff 10px,
        #fff 20px,
        $orange 20px,
        $orange 30px,
        #fff 30px,
        #fff 40px
        );
        // For wider stripes, I'd use an image to orangeuce jagged edges
        padding: 20px;
        border-radius: 6px;
        box-shadow: 1px 2px 6px 1px rgba(76, 66, 47, 0.75);
        width: calc(100% - 24px);
        height: calc(100% - 24px);
        position: absolute;
        top: -8px;
        left: -8px;
        z-index: -1; 
    }
    .evaluation_list{
        // text-align: center;
        // background: #fff;
        h3{
            padding-top:20px;
            font-size: 20px;
            line-height: 2rem;
            margin-bottom:20px;  
            }
        // .score_item {
        //     width: 80%;
        //     margin: 20px auto;
        //     border: 1px solid #9dba65;
        //     border-radius: 5px;
        //     display: flex;
        //     justify-content: space-around;
        // }
        .message_item {
            width: 95%;
            display: flex;
            flex-flow: row wrap;
            margin: auto;
            border:5px solid #92b846 ;
            // background-color: #9dba65;
            // opacity: .5;
            border-radius: 15px;
            margin: 10px;
            // text-align: center;
            .message_pot {
                // border: 1px solid #9dba65;
                // border-radius: 10px;
                margin: 20px 0px;
                width: 100%;
                
                .equ_historypic {
                    // padding: 10px 0;
                    border-bottom: dashed 2px #92b846;
                    .equ_no{
                        font-size: 18px;
                    }
                }
                .equ_message {
                    // line-height: 1.5rem;
                    padding-top: 10px;
                    p {
                        text-align: left;
                        
                        font-size: 16px;
                        // line-height: 1.5rem;
                        // margin-right: 20px;
                    }
                    
                    .equ_message_txt{
                        text-indent:2em;
                        line-height: 30px;
                    }
                }
                span {
                    margin:0 10px;
                    // border-bottom: dashed 2px #000;      
                }
                .equ_ti{
                    width: 100px;
                    height: 100px;
                    // padding-right: 20px;
                    // background-color: #f09100;
                    border-radius: 50%;
                }
            }
        } 


    }
    
}
.tab-inner {
    display: none;
    &.active {
        display: block;
    }
}