

.shopping_cart_title{
  background-color: #a4c174;
  border-radius: 10px 10px 0 0 ;
  display: flex;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 2px;
}
//  .shopping_cart_title>div~div{
//    border-left: 1px solid #fff;
//  }
//  .trash_icon{
//    border-left: none;
//  }

.shopping_cart_title_text{
  width: 20%;
  text-align: center;
}
.shoppingCartContentImg{
  width: 100px;
  height: 100px;
}
.dis_f_jc_c{
  display: flex;
  justify-content: center;
}
.shopping_cart{
  padding: 10px;
}
.shopping_cart_item img{
  padding: 10px;
}
.shopping_cart_item{
align-items: center;
}

.bg_fdfff3{
  background-color: #fdfff3;
}
.bd_r10{
border-radius: 0 0 10px 10px;
}
.m_jg_0_50{
  margin: 0 50px;
}
.p10{
padding: 30px;
}

.m-a{margin: auto;}

.btnLess,.btnPlus{
  height: 30px;
  width: 30px;
  border: 1px solid #f09100;
  background-color: #f09100;
  vertical-align: center;
  padding: 1px 0;
  color: #fff;
  i{
    line-height: 30px;
  }
}
.btnLess{
  border-radius: 10px 0 0 10px;
}
.btnPlus{
  border-radius: 0 10px  10px 0;
}
.btn_bor{
border: transparent;
}
.quantity{
  width: 50px;
  text-align: center;
}
.ta-r{
text-align: right;
}
.dis_f_j_c{
display: flex;
justify-content: center;
}
.mlr{
margin: 20px 10px;
}
// .card_bg .sort_same_item_img img{
//   margin: 5% auto;
//   width: 80%;
// }
@include rwd(desktop){
// .shopping_cart > div + div {
//   // height: 30px;
//       border-left: 1px solid #c8c8c8;
// }
  .bl~.bl{
    border-left: 1px solid #c8c8c8;
  }
  .dis-lg-n{
    display: none;
  }
  .bt{
    border-top: 1px solid #c8c8c8;
    }

  // ===================
  .col-lg-1 {
  width: 8.33333%; }

  .col-lg-2 {
  width: 16.66667%; }

  .col-lg-3 {
  width: 25%; }

  .col-lg-4 {
  width: 33.33333%; }

  .col-lg-5 {
  width: 41.66667%; }

  .col-lg-6 {
  width: 50%; }

  .col-lg-7 {
  width: 58.33333%; }

  .col-lg-8 {
  width: 66.66667%; }

  .col-lg-9 {
  width: 75%; }

  .col-lg-10 {
  width: 83.33333%; }

  .col-lg-11 {
  width: 91.66667%; }

  .col-lg-12 {
  width: 100%; }

  [class^="col-"] {
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
  }
  .trash{
    display: none;
  }
}
// ===================
@include rwd(phone){
 .m0_35{
   margin: 0 35px;
 }
.m40_0_0{
  margin: 40px 0 0;
}
.dis_n {
  display: none;
}
.shopping_cart{
flex-wrap: wrap;
position: relative;
padding: 20px;
}
.shopping_cart > div:nth-child(-n+2) {
border-bottom: 1px solid #787878;
padding-bottom: 5px;
}
.bg_fdfff3{
border-radius: 10px 10px 10px 10px ;
}
.bg_fdfff3_d{
margin-top: 20px;
border-radius: 10px 10px 10px 10px ;
}
.shopping_cart_item {
margin: 3% 0;
flex-direction: column;
}
.shopping_cart_item p{
line-height: 1.8;
}
.trash{
position: absolute;
top: 10%;
right: 10%;
}
   // ===================
.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }
  .col48{
    width: 48%;
  }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }
}
   