@import 'base/reset';
@import 'base/var';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700|Noto+Sans:400,700&display=swap');
@import 'mixins/mixin';

@import 'base/robot';
// @import 'animation/animation';
// owl.carousel.min.css
@import "pages/theme.default";

// @import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';

@import 'pages/home';
@import 'pages/activity'; 
@import 'pages/team';
@import 'pages/ticket';
@import 'pages/information';
@import 'pages/information_inner_page';
@import 'pages/item';
@import 'pages/items';
@import 'pages/shoppingCart';
@import 'pages/member';
@import 'pages/member_center';
@import 'pages/gameplay';
@import 'pages/gameplay_Jiugongge';
@import 'pages/start';
// ==========================================
h1,h2,h3,h4,h5,h6,p,a,span,div,ul,li,ol{
    font-family: "Noto Sans TC" , 'Noto Sans';
}


.paragraph_p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.6px;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.container_mb{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 50px;
}

.btn{
    @include btn
}
.btn--active{
    @include btn_active
}
.center{
    margin: 0 auto;
}

@include rwd(desktop){
    .shoppingCart_page,.activity_page,.gameplay_page,.information_inner_page,.information_page,.item_page,.items_page,.member_page,.memberLocation_page,.shoppingCart_page,.team_page,.ticket_page{
        background-image: url("../images/background/home_bgi_1.png");
        background-size: cover;
    }
    .index_team,.index_ticket_customize,.section_store,.section_facility,.activitypages{
        padding-top: 100px;
    }
    .paragraph_title{
        font-size: 22px;
    }
    .paragraph_p{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.6px;
    }
}
@include rwd(phone){
    .shoppingCart_page,.activity_page,.gameplay_page,.information_inner_page,.information_page,.item_page,.items_page,.member_page,.memberLocation_page,.shoppingCart_page,.team_page,.ticket_page{
        background-image: url("../images/background/home_bgiM_1.jpg");
        background-size: cover;
    }
    .index_team,.index_ticket_customize,.section_store,.section_facility,.activitypages{
        padding-top: 50px;
    }
    .paragraph_title{
        font-size: 20px;
    }
    .paragraph_p{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.6px;
    }
}

// ==================RWD======================
@include rwd(desktop){
    .section_title{
        @include section_title;
    }
    .page_title{
        @include page_title;
    }
}

@include rwd(phone){
    .section_title{
        @include section_titleM;
    }
    .page_title{
        @include page_titleM;
    }
}