.section_robot{
    transition: 0.5s;
    z-index: 10;
    padding: 10px;
    *{
        width: 100%;
    }
    position: fixed;
    // bottom: 0;
    .robot_text{
        transition: 0.5s;
        transition-delay: 0.2s;
        height: 200px;
        opacity: 0;
        #dialogBox{
            transition: 0.5s;
            transition-delay: 0.4s;
            width: 95%; 
            // height: 125px;
            height: 0px;
            opacity: 0;
            border: ridge 1px #888888;
            border-radius: 10px;
            background-color: #fff;
        }
        input{
            width: 93%;
        }
    }
    .robot_eye{
        position: absolute;
    }

    
}
@include rwd(desktop){
    .section_robot{
        width: 300px;
        bottom: -100px;
        right: 100px;
        &:hover{
            background-color: #9dba65;
            border-radius: 10px 10px 0 0;
            bottom: 0;
            .robot_text{
                height: 200px;
                opacity: 1;
                #dialogBox{
                    height: 125px;
                    opacity: 1;
                }
                input{
                    width: 95%;
                }
            }
        }
    }
}

@include rwd(phone){
    .section_robot{
        width: 150px;
        bottom: -50px;
        right: -60px;
    }
}