.section_robot {
    transition: 0.5s;
    z-index: 10;
    padding: 10px;
    * {
        width: 100%;
    }
    position: fixed;
    // bottom: 0;
    .robot_text {
        transition: 0.5s;
        transition-delay: 0.2s;
        // height: 200px;
        height: 0px;
        opacity: 0;
        #dialogBox {
            transition: 0.5s;
            transition-delay: 0.4s;
            width: 95%;
            // height: 125px;
            height: 0px;
            opacity: 0;
            // border: ridge 1px #888888;
            border-radius: 10px;
            background-color: #fff;
            position: relative;
            padding: 10px;
            box-sizing: border-box;
            .btn {
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                padding: 5px;
                cursor: pointer;
            }
        }
        input {
            width: 93%;
        }
    }
    .swiper {
        animation: robotmove 2s infinite;
    }
    @keyframes robotmove {
        0% {
            transform: translateX(0%) translateY(0%);
        }
        25% {
            transform: translateX(-5%) translateY(-2%) rotate(-5deg);
        }
        50% {
            transform: translateX(0%) translateY(5%);
        }
        75% {
            transform: translateX(5%) translateY(-2%) rotate(5deg);
        }
        100% {
            transform: translateX(0%) translateY(0%);
        }
    }
    #guidearrow {
        position: absolute;
        background-color: #512600;
        color: #fff;
        width: 200px;
        height: 50px;
        line-height: 50px;
        text-align: center;
    }
}
@include rwd(desktop) {
    .section_robot {
        width: 300px;
        bottom: -100px;
        right: 0px;
        border-radius: 10px 10px 0 0;
        .robot_text {
            box-shadow: 0px 0px 10px 0px #999999 inset;
            padding: 10px;
            box-sizing: border-box;
            // border: 3px solid #888888;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            border-radius: 10%;
            position: relative;
            #say {
                display: none;
            }
            &::after {
                content: "";
                position: absolute;
                left: 30%;
                bottom: -50px;
                transform: translateY(-50%) translateX(-50%);
                width: 60px;
                height: 40px;
                /* background-color: #ccc; */
                border-left: 24px solid #fff;
                border-bottom: 0px solid blue;
                border-radius: 0 0 0 40000px;
            }
        }
        &:hover {
            // background-color: #9dba65;

            bottom: 0;
            .robot_text {
                height: 220px;
                opacity: 1;
                #dialogBox {
                    height: 125px;
                    opacity: 1;
                }
                input {
                    width: 95%;
                }
                #say {
                    display: block;
                }
            }
        }
        .robot_enter {
            width: 80%;
            text-align: center;
            * {
                margin: 5px 0;
            }
        }
        #guidearrow {
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
        }
    }
}

@include rwd(phone) {
    .section_robot {
        width: 150px;
        bottom: -50px;
        right: -60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            max-width: 200px;
        }
        #dialogBox {
            margin: auto;
        }
        .robot_enter {
            width: 95%;
            margin: 5px auto;
            display: none;
            > input {
                width: 100%;
                box-sizing: border-box;
                margin: 5px 0;
            }
        }
        .arrow_down {
            border-top: 50px solid rgba(155, 83, 17, 0.9);
            border-right: 50px solid transparent;
            border-left: 50px solid transparent;
            position: absolute;
            top: -25px;
            right: 15px;
            width: 0;
        }
        &.robotPhone {
            right: 50%;
            bottom: 0;
            transform: translateX(50%);
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            .robot_text {
                height: 250px;
                opacity: 1;
                #dialogBox {
                    height: 125px;
                    opacity: 1;
                }
            }
            .robot_enter {
                color: #fff;
                display: block;
            }
        }
        #guidearrow {
            top: 50%;
            left: -210px;
            transform: translateY(-50%);
            clip-path: polygon(0% 20%, 80% 20%, 80% 0%, 100% 50%, 80% 100%, 80% 80%, 0% 80%);
        }
    }
}

.problem {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 6;
    display: none;
    &_container {
        max-width: 1200px;
        width: 60%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        background-image: url("../images/problem/background.png");
        background-size: 100% 100%;
        box-sizing: border-box;
        padding: 30px;
        @include rwd(phone) {
            width: 95%;
        }
        .problem_text {
            #puzzle {
                position: relative;
                top: -100%;
            }
            width: 100%;
            font-size: 60px;
            text-align: center;
            @include rwd(phone) {
                font-size: 30px;
            }
        }
        .problem_answer {
            width: 33%;
            box-sizing: border-box;
            padding: 1%;
            position: relative;
            top: 100%;
            img {
                width: 100%;
            }
        }
        .problem_reply {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            clip-path: circle(0%);
            display: none;
        }
    }
}
